@media (max-width: $screen-xs-max) {
  .main {
    padding: 0;
  }
  .sidemenu {
    @include transform(translateX(-100%));
    @include transition(all 300ms ease);
    &.open-out {
      @include transform(translateX(0));
    }
  }
  .hamburger {
    display: inline-block;
  }
  .user-setting {
    text-align: center;
  }
  .theme {
    width: 100%;
    height: 600px;
    overflow: auto;
    .chosse-theme {
      width: 1000px;
      height: 600px;
    }
  }
}
