@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "linearicons";
@import "blazen";
@import "toaster";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/angular-toastr/dist/angular-toastr.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #1aa3eb !default;
$brand-success: #42cd48 !default;
$brand-warning: #f78b34 !default;
$brand-danger: #F33232 !default;
$brand-info: #000072 !default;
$brand-base: #666 !default;
$border-color: #ececec !default;
$white-color: #fff !default;
$hover-color: #00bbd3!default;
$grey-color: #c7c7c7!default;
$head-color: #444!default;
$label-color: #afb3bc!default;
$nav-bg: #2f333c !default;
$nav-text: #adb2b6 !default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Lato", Georgia, "Times New Roman", Times, serif !default;
$head-font: 12px;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
/* Custom Variable */
$navbar-padding-horizontal: 0 !important;
$nav-link-padding: 12px 15px 15px 20px;
@mixin button-outline($color) {
  color: $color;
  background-color: transparent;
  border-color: $color !important;
  &:hover {
    color: white;
    background-color: $color;
    border-color: $color;
  }
  &:active {
    color: white;
    background-color: $color;
    border-color: $color;
  }
  &:focus {
    color: $color;
    background-color: transparent;
    border-color: $color;
  }
}
a,
.btn {
  @include transition(all 300ms ease);
  cursor: pointer;
}
body {
  padding-top: 50px;
  font-weight: normal;
  background-color: #F2F2F2;
  color: $brand-base;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav {
  li {
    .dropdown-menu {
      display: none;
    }
    &:hover {
      .dropdown-menu {
        display: block;
        li {
          display: block;
        }
      }
    }
  }
}
.dropdown-menu {
  border-color: #e7e7e7;
  > li {
    > a {
      font-family: 'Montserrat';
      color: #666;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}
.navbar {
  margin-bottom: 0;
  min-height: 50px;
}
.primary {
  color: $brand-primary;
}
.logo {
  font-size: 24px;
  line-height: 50px;
  color: $brand-primary;
  cursor: pointer;
}
.navbar-collapse {
  padding-right: $navbar-padding-horizontal;
  padding-left: $navbar-padding-horizontal;
}
a,
.form-control,
.btn {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    outline: 0;
  }
  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0 rgba(102, 175, 233, 0.6);
    // border-color: #ccc;
  }
}
.btn-secondary {
  background-color: #fff;
  border: 1px solid $brand-primary;
  color: $brand-primary;
  &:hover {
    background-color: $brand-primary;
    border: 1px solid #fff;
    color: #fff;
  }
  &:focus {
    // background-color:$brand-primary;
    // border: 1px solid #fff;
    color: $brand-primary !important;
  }
}
.btn {
  padding: 8px 20px;
  text-transform: uppercase;
  &.btn-outline {
    &.btn-primary {
      @include button-outline($brand-primary);
    }
    &.btn-success {
      @include button-outline($brand-success);
    }
    &.btn-danger {
      @include button-outline($brand-danger);
    }
    &.btn-warning {
      @include button-outline($brand-warning);
    }
    &.btn-info {
      @include button-outline($brand-info);
    }
  }
  &.btn-small {
    padding: 6px 30px;
    font-size: 12px;
  }
}
textarea {
  resize: none;
}
.color-success {
  color: $brand-success;
}
.pd5 {
  padding: 5px 0;
}
.color-danger {
  color: $brand-danger;
}
.mr10 {
  margin: 10px 0;
}
.marginzero {
  margin: 0;
}
/* Start writing sass here */
// Header;
.display-inline {
  display: inline-block;
}
.float-right {
  float: right;
}
.pt10 {
  padding-top: 10px;
}
.logo {
  img {
    display: inherit;
  }
}
.logo-name {
  span {
    position: absolute;
    font-size: 20px;
    color: $brand-base;
    font-family: $font-family-sans-serif;
    top: 32px;
    font-weight: 300;
  }
}
.navbar-default {
  background-color: $white-color;
  border-color: $border-color;
}
.nav {
  > li {
    margin: 0;
    &.active {
      a,
      a:hover,
      a:focus {
        background-color: $brand-primary;
        color: white;
      }
    }
    > a {
      color: $nav-text;
      font-size: 14px;
      cursor: pointer;
      padding: $nav-link-padding;
      > i {
        font-size: 24px;
        padding-right: 15px;
        vertical-align: sub;
      }
      &:hover,
      &:focus {
        background-color: transparentize($brand-primary, 0.5);
        color: white;
      }
    }
  }
}
.head-font {
  color: $brand-base;
  font-size: $head-font;
  text-transform: uppercase;
}
.pad-icon {
  padding: 0 5px;
}
.padding0 {
  padding: 0;
}
.margin0 {
  margin: 0;
}
.profile-pic {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 105%;
  }
}
.custom-li {
  ul {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    li {
      display: inline-block;
    }
  }
}
.pr30 {
  padding-right: 30px;
}
.pl30 {
  padding-left: 30px;
}
.pt15 {
  padding-top: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.btn {
  @include transition(all 300ms ease);
  &:focus,
  &.focus,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus {
    outline-width: 0;
    outline-offset: 0;
  }
}
.btn.btn-clear {
  background-color: transparent;
  &:focus,
  &.focus,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus {
    border-color: transparent;
  }
}
.dropdown-menu {
  top: 90%;
}
.user-setting {
  padding-top: 7px;
  ul {
    li {
      vertical-align: middle;
      font-family: 'Montserrat';
      a {
        padding: 6px 15px;
        display: block;
      }
    }
  }
}
.search-head {
  .form-control {
    border-radius: 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    padding: 0 5px;
    height: 26px;
    margin-bottom: 0;
  }
  .input-group {
    .btn {
      padding: 12px 21px;
      font-size: 18px;
      border: 0;
      &:hover {
        background: #fff;
        box-shadow: none;
      }
      i {
        color: #B2B2B2;
      }
    }
  }
}
.sidemenu {
  width: 225px;
  background-color: $nav-bg;
  padding-top: 0;
  padding-bottom: 60px;
  left: 0;
  position: fixed;
  top: 50px;
  margin: 0;
  height: 100%;
  z-index: 999;
  overflow-y: auto;
}
.main {
  padding-left: 225px;
}
.app-box {
  text-align: center;
  border: 1px solid $white-color;
  background: $white-color;
  padding: 10px 15px 25px;
  min-height: 254px;
  @include transition(all 300ms ease);
  cursor: pointer;
  .app-info {
    text-align: right;
    i {
      background-color: $brand-success;
      border-radius: 100%;
      color: $brand-success;
    }
  }
  .app-icon {
    height: 80px;
    overflow: hidden;
    display: block;
    margin-top: 25px;
    img {
      margin: 0 auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .app-name {
    padding-top: 15px;
    font-size: 16px;
    padding-bottom: 4px;
    color: $brand-base;
    text-transform: capitalize;
  }
  .app-date {
    margin-top: 10px;
    p {
      margin-bottom: 3px;
      span {
        color: #000;
      }
    }
  }
  .new-app {
    margin-top: 25px;
    span {
      font-size: 50px;
      background: #D9D9D9;
      border-radius: 100%;
      height: 80px;
      width: 80px;
      display: block;
      margin: 0 auto;
      color: #fff;
      padding: 0;
      border-style: double;
    }
  }
  &:hover {
    transform: scale(1.1);
    border: 1px solid $hover-color;
  }
}
.mt30 {
  margin-top: 30px;
}
.mrg0 {
  margin: 0;
}
.mt15 {
  margin-top: 15px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt7 {
  margin-top: 7px;
}
.mt60 {
  margin-top: 60px;
}
.upload-app {
  border: 1px solid $border-color;
  display: inline-flex;
  padding: 5px;
}
.mt45 {
  margin-top: 45px !important;
}
.mb30 {
  margin-bottom: 30px;
}
.mar30 {
  margin: 30px 0;
}
.ml12 {
  margin-left: 12px;
}
.upload-btn {
  margin-top: 15px;
  .btn {
    color: #fff;
    background: $grey-color;
  }
}
.name-submit {
  span {
    display: block;
    padding-bottom: 10px;
  }
  .form-control {
    border-radius: 0;
  }
}
.bold {
  font-weight: 800;
}
.modal-dialog {
  position: absolute;
  margin: 10px;
  left: 50%;
  top: 50%;
  @include transform(translate(-50%,-50%) !important);
}
// .modal-footer {
//   @extend .upload-btn;
// }
.modal-header {
  .close {
    outline: 0;
    &:focus {
      outline: 0;
    }
  }
  span {
    &:focus {
      outline: 0;
    }
  }
}
.right-arrow {
  float: right;
  font-size: 15px !important;
  padding-top: 8px !important;
  padding-right: 0 !important;
}
// scrollbar
.scrollbars::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: $border-color;
}
.scrollbars::-webkit-scrollbar {
  width: 7px;
  background-color: $border-color;
}
.scrollbars::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: $grey-color;
}
.template-box {
  .template-des {
    width: auto;
    overflow: hidden;
    display: block;
    border: 1px solid #969696;
    padding: 5px;
    img {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }
  }
}
.ionic-template {
  h4 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    // margin-top: 32px;
    color: $head-color;
    font-size: 20px;
    // margin-bottom: 40px;
  }
}
.templat-bk {
  background: #fff;
  padding: 5px;
  cursor: pointer;
  @include transition(all 300ms ease);
  &:hover {
    transform: scale(1.1);
  }
}
.template-name {
  min-height: 35px;
  span {
    font-size: 17px;
    display: inline-block;
    padding-top: 6px;
    font-weight: 300;
  }
}
.preivew {
  text-align: center;
  margin-top: 50px;
  position: absolute;
  height: 0;
  width: 0;
  @include transform(scale(0.8));
  @include transform-origin(left top 0px);
  .app-prview {
    background: url("../img/device.png") no-repeat center center;
    width: 320px;
    height: 654px;
    background-size: 100% 100%;
    margin: 0 auto;
    @include transition(all 300ms ease);
    position: relative;
    .frame-holder {
      position: absolute;
      left: 17px;
      top: 71px;
      right: 18px;
      bottom: 69.5px;
    }
  }
}
.naming {
  border-bottom: 1px solid $border-color;
  padding-bottom: 5px;
  h4 {
    font-size: 16px;
    margin: 5px 0 10px;
  }
  &.simple {
    border-bottom: 0;
    padding: 0;
    h4 {
      font-family: $font-family-serif;
      font-weight: 400;
      color: #8D8D8D;
      text-transform: uppercase;
      font-size: 14px;
      margin: 0;
    }
  }
}
.grouplist {
  margin-top: -10px;
  .items {
    position: relative;
    background-color: #fff;
    padding: 6px 20px;
    min-height: 65px;
    margin-bottom: 0;
    cursor: all-scroll;
    .circle {
      position: absolute;
      color: $brand-base;
      border: 1px solid $brand-base;
      border-radius: 50%;
      height: 42px;
      width: 42px;
      text-align: center;
      font-size: 18px;
      line-height: 36px;
      margin-top: 2px;
    }
    p {
      margin: 0;
    }
    .pad-left {
      padding: 0 65px 0 52px;
    }
    .nav-name {
      font-size: 14px;
      font-weight: 700;
      display: inline-block;
      padding-top: 4px;
      h5 {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  li {
    a {
      i {
        font-size: 16px;
        padding: 5px;
        line-height: 3.2;
      }
    }
  }
}
//mahesh scss.ionic-template
.paddingup {
  padding: 20px 0 5px;
}
.pad20 {
  padding: 20px 0;
}
.form-background {
  background: #fff;
  padding: 20px;
}
.image-picker {
  display: inline-block;
  width: 100%;
  max-height: 250px;
  overflow-x: hidden;
}
.dndDragging {
  .image-holder {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
    border-color: rgba(0, 0, 0, 0.35);
  }
}
.image-holder {
  width: auto;
  height: 100px;
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
  // margin-bottom: 10px;
  border: 1px solid #F2F2F2;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  cursor: pointer;
  background-size: contain;
}
.image-label {
  padding: 5px;
  background: #000;
  margin-bottom: 10px;
}
.edit-delete {
  padding-left: 10px;
}
.make-default {
  padding: 15px 0;
  input {
    vertical-align: sub;
  }
}
.all-label {
  font-weight: 400;
  color: #8D8D8D;
  text-transform: uppercase;
  font-size: 14px;
}
label {
  color: $label-color;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 10px;
}
.form-control {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid $border-color;
  padding: 2px 14px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
}
textarea.form-control {
  padding: 10px;
}
.f20 {
  font-size: 20px;
}
.f10 {
  font-size: 10px;
  margin-right: 5px;
}
.select {
  span {
    float: left;
    padding-right: 10px;
  }
  .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    label {
      min-height: 15px;
    }
  }
}
.table {
  thead {
    tr {
      th {
        font-size: 14px;
        font-weight: 600;
        color: $head-color;
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}
.edit {
  background: white;
  color: $brand-primary;
  font-size: 16px;
  padding: 5px;
  border: 1px solid;
  @include transition(all ease 300ms);
  &:hover {
    background: $brand-primary;
    color: white;
    border-color: $brand-primary;
  }
}
.delete {
  @extend .edit;
  color: $brand-danger;
  @include transition(all ease 300ms);
  &:hover {
    background: $brand-danger;
    border-color: $brand-danger;
    color: white;
  }
}
.resize {
  resize: none;
}
.dndPlaceholder {
  list-style: none;
}
.img-box {
  height: 120px;
  width: 120px;
  overflow: hidden;
  position: relative;
  border: 1px solid $border-color;
  img {
    @include align-self(center);
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
  }
}
.img-noti {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 5px;
}
.noti-image {
  padding-bottom: 15px;
}
.modal-footer .btn {
  color: #fff;
  background: $brand-primary;
}
.calender-btn {
  btn {
    padding: 9px 20px;
  }
}
.overflow-scroll {
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
.width30 {
  width: 30px;
}
.checkbox-custom {
  opacity: 1;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  margin: -7px 0 0 -2px;
  cursor: pointer;
}
.panel-group .panel {
  border-radius: 0;
}
.config .panel-default > .panel-heading {
  background-color: #FFFFFF;
}
.panel-heading {
  padding: 10px 15px;
  font-weight: bold;
  h4 {
    font-size: 14px;
  }
  .right-arrow {
    font-size: 14px !important;
    padding-top: 2px !important;
    &.down {
      transform: rotate(90deg);
    }
  }
}
.info {
  cursor: pointer;
  @include transform(rotate(180deg));
}
.img-box-icon {
  height: 120px;
  width: 120px;
  display: block;
  overflow: hidden;
  position: relative;
  border: 1px solid #e7e7e7;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
  }
  input {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    opacity: 0;
    cursor: pointer;
  }
}
.mt29 {
  margin-top: 29px;
}
.checkbox.checkbox-box {
  margin-bottom: 25px;
  width: 100%;
  height: 40px;
  border: 1px solid $border-color;
  padding: 8px 14px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
}
.box_white {
  table tr td {
    margin-bottom: 20px;
    padding: 3px 2px 10px 0;
    vertical-align: top;
    &.saparate {
      padding: 3px 2px 25px;
    }
  }
}
.min-hight {
  min-height: 700px;
}
.head {
  margin-bottom: 10px;
  p {
    margin-bottom: 0;
  }
}
.wrapper-iphone {
  overflow: auto;
  width: 100%;
  .iphone {
    width: 4000px;
  }
  .iphone-upload-screen {
    width: 250px;
    height: 450px;
  }
  .iphone-upload-loading {
    width: 300px;
    height: 500px;
    left: 50%;
    @include transform(translateX(-50%));
  }
  .iphone-upload {
    border: 1px solid $border-color;
    float: left;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    .form-control {
      height: 100%;
      opacity: 0;
      z-index: 1;
    }
    .image-hold {
      width: 250px;
      height: 400px;
      overflow: hidden;
      text-align: center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .or {
      margin-bottom: 10px;
    }
    .upload-text {
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%,-50%));
      font-size: 22px;
      width: 100%;
      i.ln-circle-plus {
        font-size: 30px;
      }
    }
  }
}
.fadeInOut.ng-enter {
  @include transition(300ms ease all);
  opacity: 0;
}
.fadeInOut.ng-enter.ng-enter-active {
  opacity: 1;
}
.upload-img {
  .btn-upload input {
    left: 50%;
    @include transform(translateX(-50%));
  }
}
.history {
  .naming {
    border: 0;
    h5 {
      font-weight: 600;
      color: $head-color;
    }
  }
}
.hamburger {
  padding: 10px 6px;
  display: none;
  font-size: 18px;
  cursor: pointer;
}
.cutom-accordion {
  .panel-group {
    margin: 10px 0 0;
  }
  .panel-heading {
    h4 {
      font-size: 14px;
      text-transform: capitalize;
    }
  }
}
.btn-upload {
  position: relative;
  overflow: hidden;
  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter:alpha(opacity=0);
  }
}
.img-upload {
  margin-bottom: 20px;
  .slider-box {
    padding-bottom: 10px;
  }
}
.modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
}
span.input-group-btn.calender-btn {
  .btn {
    height: 40px;
    &:hover {
      background: #fff;
    }
  }
}
.config {
  a.accordion-toggle {
    display: block;
    padding: 10px 5px;
  }
  .panel-default {
    border: 0;
    border-bottom: 1px solid #ddd;
    @include box-shadow(none);
  }
  .panel-group .panel + .panel {
    margin-top: 0;
  }
}
.pd20 {
  padding: 20px 0 0 10px;
}
.radio-opt {
  padding: 2px;
}
.pbt20 {
  padding: 20px 0;
}
.noheading-according {
  .panel-heading {
    padding: 0;
  }
  .panel-group .panel-heading + .panel-collapse > .panel-body,
  .panel-group .panel-heading + .panel-collapse > .list-group,
  .panel {
    border: 0;
  }
}
.select-checkbox {
  .checkbox {
    margin: 0;
    display: inline-block;
  }
  label {
    padding: 0;
  }
}
.custom-checkbox {
  input[type="checkbox"] {
    display: none;
    width: 30px;
  }
  input[type="checkbox"] + label {
    color: #292321;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  input[type="checkbox"] + label span {
    display: inline-block;
    width: 19px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
  }
  input[type="checkbox"] + label span {
    font-family: FontAwesome;
    &:before {
      content: "\f096";
      font-family: FontAwesome;
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
    }
  }
  input[type="checkbox"]:checked + label span {
    &:before {
      content: "\f046";
      font-family: FontAwesome;
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
    }
    color: $brand-primary;
  }
  input[type="checkbox"] + label span,
  input[type="checkbox"]:checked + label span {
    @include transition(background-color 0.4s linear);
  }
}
.custom-radio {
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label {
    color: #292321;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  input[type="radio"] + label span {
    display: inline-block;
    // width: 19px;
    // height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
  }
  input[type="radio"] + label span {
    font-family: FontAwesome;
    &:before {
      content: "\f006";
      font-family: FontAwesome;
      display: inline-block;
      padding-right: 3px;
      vertical-align: middle;
    }
  }
  input[type="radio"]:checked + label span {
    &:before {
      content: "\f005";
      font-family: FontAwesome;
      display: inline-block;
      padding-right: 3px;
      vertical-align: middle;
    }
    // background-color: #fff;
    color: gold;
  }
  input[type="radio"] + label span,
  input[type="radio"]:checked + label span {
    @include transition(background-color 0.4s linear);
  }
}
.caption {
  text-align: center;
  font-weight: 600;
  overflow: hidden;
  padding: 2px 10px;
}
.nav-list,
.group {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
.group {
  ul {
    margin: 0;
  }
  li {
    line-height: 200%;
    cursor: pointer;
  }
}
.modal-nav ul li {
  cursor: pointer;
  line-height: 200%;
  margin-bottom: 1px;
  @include transition(all ease 300ms);
  &:hover {
    color: $brand-primary;
  }
}
// .pophover{
//   position: absolute;
//   top: 40%;
//   right: -14px;
// }
// .checkbox-custom-label { // position: relative; // font-weight: 400; // &:before { // content: ''; // background: $border-color; // border: 1px solid $grey-color; // display: inline-block; // vertical-align: middle; // width: 16px; // height: 16px; // padding: 2px; // text-align: center; // } // } // .checkbox-custom:checked + .checkbox-custom-label:before { // background: $brand-primary; // }
.border-left {
  border: 0;
  border-left: 3px solid;
  &.border-primary {
    border-color: $brand-primary;
  }
  &.border-success {
    border-color: $brand-success;
  }
  &.border-danger {
    border-color: $brand-danger;
  }
  &.border-warning {
    border-color: $brand-warning;
  }
}
.primary-accordion {
  .radio-inline input[type="radio"] {
    outline: 0 !important;
    @include appearance(none);
    &:checked {
      &:after {
        color: $brand-primary;
      }
    }
    &:after {
      @include transition(all 300ms ease);
      content: '\f00c';
      height: 12px;
      width: 12px;
      background-color: white;
      display: block;
      font-family: 'FontAwesome';
      color: white;
      font-size: 10px;
      text-align: center;
      line-height: 12px;
    }
  }
  .panel-group {
    margin: 0;
    position: relative;
    top: -25px;
  }
  .panel {
    background-color: $brand-primary;
    box-shadow: none;
    color: white;
  }
  label {
    color: white;
  }
  .form-control {
    background-color: transparent;
    color: white;
    &:focus {
      border-color: white;
    }
  }
}
.border-transparent {
  border-color: transparent !important;
  &.btn-primary:focus,
  &.btn-primary:hover {
    background-color: $brand-primary !important;
  }
}
.one-time {
  .panel+.panel {
    margin: 0;
  }
}
.panel-body {
  padding: 20px;
}
.drop-image {
  margin-bottom: 10px;
  position: relative;
  .caption {
    opacity: 0;
    background: rgba(47, 51, 60, 0.70);
    color: #fff;
    width: 100%;
    @include transition(all ease 300ms);
    position: absolute;
    bottom: 0;
    p {
      margin-bottom: 0;
      font-weight: 400;
    }
  }
  &:hover {
    .caption {
      opacity: 1;
    }
  }
}
.config {
  .open {
    padding: 10px 15px;
  }
  .panel-heading {
    padding: 0;
  }
}
.mce-btn,
.mce-panel {
  background-color: #fff !important;
  border-color: $border-color !important;
}
.mce-btn {
  border: none !important;
}
.white-btn .btn {
  background-color: white !important;
  color: $brand-primary !important;
}
.input-group {
  .form-control {
    border-right-color: $brand-primary;
  }
}
.config {
  .panel-title {
    i {
      padding-right: 5px;
    }
  }
}
.action {
  width: 70px;
  display: block;
  a {
    display: inline-block;
  }
}
upload-image {
  cursor: pointer;
}
.error-msg {
    color: red;
}
@import "toggle";
@import "mobile";
