@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "linearicons";
@import "blazen";
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #009688 !default;
$brand-warning: #ffec39 !default;
$brand-danger: #F44336 !default;
$brand-info: #000072 !default;
$brand-base: #666 !default;
$border-color: #e7e7e7 !default;
$white-color: #fff !default;
$hover-color: #00bbd3!default;
$grey-color: #c7c7c7!default;
$head-color: #767676!default;
$label-color: #afb3bc!default;
$border-radius-base: 0 !default;
$border-radius-large: 0 !default;
$border-radius-small: 0 !default;
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Lato", Georgia, "Times New Roman", Times, serif !default;
$head-font: 12px;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
/* Custom Variable */
$navbar-padding-horizontal: 0 !important;
$nav-link-padding: 12px 15px 15px 20px;
@mixin button-outline($color) {
  color: $color;
  background-color: transparent;
  border-color: $color;
  &:hover,
  &:focus {
    color: white;
    background-color: $color;
    border-color: $color;
  }
}
a,
.btn {
  @include transition(all 300ms ease);
  cursor: pointer;
}
body {
  padding-top: 50px;
  font-weight: normal;
  background-color: #F2F2F2;
  color: $brand-base;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav {
  li {
    .dropdown-menu {
      display: none;
    }
    &:hover {
      .dropdown-menu {
        display: block;
        li {
          display: block;
        }
      }
    }
  }
}
.dropdown-menu {
  border-color: #e7e7e7;
  > li {
    > a {
      font-family: 'Montserrat';
      color: #666;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}
.navbar {
  margin-bottom: 0;
  min-height: 50px;
}
.logo {
  font-size: 24px;
  line-height: 50px;
  color: $brand-primary;
  cursor: pointer;
}
.navbar-collapse {
  padding-right: $navbar-padding-horizontal;
  padding-left: $navbar-padding-horizontal;
}
a,
.form-control,
.btn {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    outline: 0;
  }
  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0 rgba(102, 175, 233, 0.6);
    border-color: #ccc;
  }
}
.btn {
  padding: 8px 20px;
  text-transform: uppercase;
  &.btn-outline {
    &.btn-primary {
      @include button-outline($brand-primary);
    }
    &.btn-success {
      @include button-outline($brand-success);
    }
    &.btn-danger {
      @include button-outline($brand-danger);
    }
    &.btn-warning {
      @include button-outline($brand-warning);
    }
    &.btn-info {
      @include button-outline($brand-info);
    }
  }
  &.btn-small {
    padding: 4px 10px;
    font-size: 12px;
  }
}
textarea {
  resize: none;
}
.color-success {
  color: $brand-success;
}
.pd5 {
  padding: 5px 0;
}
.nav > li.active a {
  background-color: #FFF!important;
}
.color-danger {
  color: $brand-danger;
}
.mr10 {
  margin: 10px 0;
}
/* Start writing sass here */
// Header;
.display-inline {
  display: inline-block;
}
.float-right {
  float: right;
}
.tuts {
  padding: 10px;
  font-weight: 600;
}
.pt10 {
  padding-top: 10px;
}
.logo {
  img {
    display: inherit;
  }
}
.logo-name {
  span {
    position: absolute;
    font-size: 20px;
    color: $brand-base;
    font-family: $font-family-sans-serif;
    top: 32px;
    font-weight: 300;
  }
}
.navbar-default {
  background-color: $white-color;
  border-color: $border-color;
}
.nav {
  > li {
    margin: 0;
    &.active {
      a {
        background-color: #ccc;
      }
    }
    > a {
      color: $brand-base;
      font-size: 14px;
      cursor: pointer;
      padding: $nav-link-padding;
      > i {
        font-size: 24px;
        padding-right: 15px;
        vertical-align: sub;
      }
    }
  }
}
.head-font {
  color: $brand-base;
  font-size: $head-font;
  text-transform: uppercase;
}
.pad-icon {
  padding: 0 5px;
}
.padding0 {
  padding: 0;
}
.margin0 {
  margin: 0;
}
.profile-pic {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 105%;
  }
}
.custom-li {
  ul {
    display: inline-block;
    list-style: none;
    margin-bottom: 0;
    li {
      display: inline-block;
    }
  }
}
.pr30 {
  padding-right: 30px;
}
.pl30 {
  padding-left: 30px;
}
.pt15 {
  padding-top: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.btn {
  @include transition(all 300ms ease);
  &:focus,
  &.focus,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus {
    outline-width: 0;
    outline-offset: 0;
  }
}
.btn.btn-clear {
  background-color: transparent;
  &:focus,
  &.focus,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus {
    border-color: transparent;
  }
}
.user-setting {
  padding-top: 7px;
  ul {
    li {
      vertical-align: middle;
      font-family: 'Montserrat';
      a {
        padding: 6px 15px;
      }
    }
  }
}
.search-head {
  .form-control {
    border-radius: 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    padding: 0 5px;
    height: 26px;
    margin-bottom: 0;
  }
  .input-group {
    .btn {
      padding: 12px 21px;
      font-size: 18px;
      border: 0;
      &:hover {
        background: #fff;
        box-shadow: none;
      }
      i {
        color: #B2B2B2;
      }
    }
  }
}
.sidemenu {
  width: 225px;
  background: #fff;
  padding-top: 0;
  padding-bottom: 60px;
  left: 0;
  position: fixed;
  top: 50px;
  margin: 0;
  height: 100%;
  z-index: 999;
  overflow-y: auto;
}
.main {
  padding-left: 225px;
}
.app-box {
  text-align: center;
  border: 1px solid $white-color;
  background: $white-color;
  padding: 10px 15px 25px;
  min-height: 230px;
  @include transition(all 300ms ease);
  cursor: pointer;
  .app-info {
    text-align: right;
    i {
      background-color: $brand-success;
      border-radius: 100%;
      color: $brand-success;
    }
  }
  .app-icon {
    height: 80px;
    overflow: hidden;
    display: block;
    margin-top: 25px;
    img {
      margin: 0 auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .app-name {
    padding-top: 15px;
    font-size: 16px;
    padding-bottom: 4px;
    color: $brand-base;
    text-transform: capitalize;
  }
  .app-date {
    p {
      span {
        color: #000;
      }
    }
  }
  .new-app {
    margin-top: 25px;
    span {
      font-size: 50px;
      background: #D9D9D9;
      border-radius: 100%;
      height: 80px;
      width: 80px;
      display: block;
      margin: 0 auto;
      color: #fff;
      padding: 0;
      border-style: double;
    }
  }
  &:hover {
    transform: scale(1.1);
    border: 1px solid $hover-color;
  }
}
.mt30 {
  margin-top: 30px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt60 {
  margin-top: 60px;
}
.upload-app {
  border: 1px solid $border-color;
  display: inline-flex;
  padding: 5px;
}
.mt45 {
  margin-top: 45px !important;
}
.mb30 {
  margin-bottom: 30px;
}
.mar30 {
  margin: 30px 0;
}
.ml12 {
  margin-left: 12px;
}
.upload-btn {
  margin-top: 15px;
  .btn {
    color: #fff;
    background: $grey-color;
  }
}
.name-submit {
  span {
    display: block;
    padding-bottom: 10px;
  }
  .form-control {
    border-radius: 0;
  }
}
// .modal-dialog {
//   position: absolute;
//   margin: 10px;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%,-50%)!important;
// }
.modal-footer {
  @extend .upload-btn;
}
.modal-header {
  .close {
    outline: 0;
    &:focus {
      outline: 0;
    }
  }
  span {
    &:focus {
      outline: 0;
    }
  }
}
.right-arrow {
  float: right;
  font-size: 15px !important;
  padding-top: 8px !important;
  padding-right: 0 !important;
}
// scrollbar
.scrollbars::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: $border-color;
}
.scrollbars::-webkit-scrollbar {
  width: 7px;
  background-color: $border-color;
}
.scrollbars::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: $grey-color;
}
.template-box {
  .template-des {
    width: auto;
    overflow: hidden;
    display: block;
    border: 1px solid #969696;
    padding: 5px;
    img {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }
  }
}
.ionic-template {
  h4 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    // margin-top: 32px;
    color: $head-color;
    font-size: 20px;
    // margin-bottom: 40px;
  }
}
.templat-bk {
  background: #fff;
  padding: 5px;
  cursor: pointer;
  @include transition(all 300ms ease);
  &:hover {
    transform: scale(1.1);
  }
}
.template-name {
  min-height: 35px;
  span {
    font-size: 17px;
    display: inline-block;
    padding-top: 6px;
    font-weight: 300;
  }
}
.preivew {
  text-align: center;
  margin-top: 50px;
  .app-prview {
    background: url("../img/device.png") no-repeat center center;
    width: 251px;
    height: 500px;
    background-size: 100% 100%;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transform: translateX(-50%);
    left: 50%;
    @include transition(all 400ms ease);
  }
}
.naming {
  h4 {
    font-size: 16px;
  }
}
.grouplist {
  .items {
    position: relative;
    background: #fff;
    padding: 0 20px;
    min-height: 50px;
    margin-bottom: -6px;
    .circle {
      position: absolute;
      border: 1px solid #ddd;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      text-align: center;
      font-size: 23px;
      line-height: 1.4;
      margin-top: 5px;
    }
    .pad-left {
      padding-left: 51px;
    }
    .nav-name {
      font-size: 14px;
      font-weight: 700;
      display: inline-block;
      padding-top: 4px;
      h5 {
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
  li {
    a {
      i {
        font-size: 16px;
        padding: 5px;
        line-height: 3.2;
      }
    }
  }
}
//mahesh scss.ionic-template
.float-right {
  float: right;
}
.paddingup {
  padding: 20px 0 5px;
}
.pad20 {
  padding: 20px 0;
}
.form-background {
  background: #fff;
  padding: 20px;
}
.naming {
  border-bottom: 1px solid $border-color;
  padding-bottom: 8px;
}
.image-picker {
  display: inline-block;
  width: 100%;
}
.dndDragging {
  .image-holder {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
    border-color: rgba(0, 0, 0, 0.35);
  }
}
.image-holder {
  width: auto;
  height: 100px;
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  border: 1px solid #F2F2F2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  cursor: pointer;
  img {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    display: inline-block;
    padding: 0;
  }
}
.all-label {
  font-weight: 400;
  color: #8D8D8D;
  text-transform: uppercase;
  font-size: 14px;
}
.form-group {
  label {
    color: $label-color;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 10px;
  }
}
.form-control {
  margin-bottom: 25px;
  width: 100%;
  height: 40px;
  border: 2px solid #ECECEC;
  padding: 2px 14px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
}
.f20 {
  font-size: 20px;
}
.select {
  span {
    float: left;
    padding-right: 10px;
  }
  .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    label {
      min-height: 15px;
    }
  }
}
.table {
  thead {
    tr {
      th {
        font-size: 16px;
        font-weight: 400;
        color: $head-color;
      }
    }
  }
  tbody {
    tr {
      td {
        vertical-align: middle;
      }
    }
  }
}
.edit {
  background: white;
  color: $brand-primary;
  font-size: 16px;
  padding: 5px;
  border: 1px solid;
}
.delete {
  @extend .edit;
  color: $brand-danger;
}
.resize {
  resize: none;
}
.dndPlaceholder {
  list-style: none;
}
.img-box {
  height: 120px;
  width: 120px;
  display: block;
  overflow: hidden;
  position: relative;
  border: 1px solid $border-color;
}
.img-noti {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 5px;
}
.noti-image {
  padding-bottom: 15px;
}
.modal-footer .btn {
  color: #fff;
  background: $brand-primary;
}
.calender-btn {
  btn {
    padding: 9px 20px;
  }
}
.overflow-scroll {
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}
.checkbox-custom {
  opacity: 1;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  margin: -7px 0 0 -2px;
  cursor: pointer;
}
.panel-group .panel {
  border-radius: 0;
}
.panel-default > .panel-heading {
  background-color: #FFFFFF;
}
.panel-heading {
  padding: 10px 15px;
  h4 {
    font-size: 16px;
  }
  .right-arrow {
    font-size: 14px !important;
    padding-top: 2px !important;
    &.down {
      transform: rotate(90deg);
    }
  }
}
.panel-body {
  .ionic-template h4 {
    font-size: 14px;
  }
}
.info {
  cursor: pointer;
  @include transform(rotate(180deg));
}
.img-box-icon {
  height: 120px;
  width: 120px;
  display: block;
  overflow: hidden;
  position: relative;
  border: 1px solid #e7e7e7;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  input {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: relative;
    opacity: 0;
    cursor: pointer;
  }
}
.mt29 {
  margin-top: 29px;
}
.checkbox.checkbox-box {
  margin-bottom: 25px;
  width: 100%;
  height: 40px;
  border: 2px solid #ECECEC;
  padding: 8px 14px;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
}
.box_white {
  table tr td {
    margin-bottom: 20px;
    padding: 3px 2px 10px 0;
    vertical-align: top;
    &.saparate {
      padding: 3px 2px 25px;
    }
  }
}
.min-hight {
  min-height: 700px;
}
.head {
  margin-bottom: 10px;
  p {
    margin-bottom: 0;
  }
}
.wrapper-iphone {
  overflow: auto;
  width: 100%;
  .iphone {
    width: 4000px;
  }
  .iphone-upload-screen {
    width: 250px;
    height: 450px;
  }
  .iphone-upload-loading {
    width: 300px;
    height: 500px;
    left: 50%;
    transform: translateX(-50%);
  }
  .iphone-upload {
    border: 2px solid #ECECEC;
    float: left;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    .form-control {
      height: 100%;
      opacity: 0;
      z-index: 1;
    }
    .image-hold {
      width: 250px;
      height: 400px;
      overflow: hidden;
      text-align: center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .or {
      margin-bottom: 10px;
    }
    .upload-text {
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%,-50%));
      font-size: 22px;
      width: 100%;
      i.ln-circle-plus {
        font-size: 30px;
      }
    }
  }
}
.fadeInOut.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}
.fadeInOut.ng-enter.ng-enter-active {
  opacity: 1;
}
.upload-img {
  margin-top: 30px;
}
.history {
  .naming {
    border: 0;
    h5 {
      font-weight: 600;
      color: $head-color;
    }
  }
}
.hamburger {
  padding: 10px 6px;
  display: none;
  font-size: 18px;
  cursor: pointer;
}
.theme {
  width: 100%;
  height: 600px;
  overflow: scroll;
  .chosse-theme {
    width: 1000px;
    height: 600px;
  }
}
// .pophover{
//   position: absolute;
//   top: 40%;
//   right: -14px;
// }
// .checkbox-custom-label { // position: relative; // font-weight: 400; // &:before { // content: ''; // background: $border-color; // border: 1px solid $grey-color; // display: inline-block; // vertical-align: middle; // width: 16px; // height: 16px; // padding: 2px; // text-align: center; // } // } // .checkbox-custom:checked + .checkbox-custom-label:before { // background: $brand-primary; // }
@import "toggle";
@import "mobile";
