@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "blazen";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #4bae4f !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$brand-base: #939393 !default;
$border-color: #e7e7e7 !default;
$white-color: #fff !default;
$hover-color: #00bbd3!default;
$grey-color: #c7c7c7!default;
$head-color: #767676!default;
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Lato", Georgia, "Times New Roman", Times, serif !default;
$head-font: 12px;
$font-family-sans-serif: "Lato", "Montserrat","Voyage Fantastique","Kenyan Coffee", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif: "Lato", "Montserrat", "Voyage Fantastique ","Kenyan Coffee", "Advent Pro", Georgia, "Times New Roman", Times, serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
/* Custom Variable */
$navbar-padding-horizontal: 0 !important;
$nav-link-padding: 10px 15px 10px 20px;
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
body {
  padding-top: 80px;
  font-family: 'Lato','Montserrat';
  font-weight: normal;
  background-color: #F2F2F2;
  color: $brand-base;
}
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}

.navbar {
  margin-bottom: 0;
}
.navbar-collapse{
  padding-right:$navbar-padding-horizontal;
  padding-left:$navbar-padding-horizontal;

}
a,
.form-control,
.btn {
  text-decoration: none;
  &:hover {
    text-decoration: none;
    outline: 0;
  }
  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 0 rgba(102, 175, 233, 0.6);
    border-color: #ccc;
  }
}
/* Start writing sass here */
// Header;
.display-inline {
  display: inline-block;
}
.float-right {
  float: right;
}
.pt10 {
  padding-top: 10px;
}
.logo {
  img {
    display: inherit;
  }
}
.logo-name {
  span {
    position: absolute;
    font-size: 20px;
    color: $brand-base;
    font-family: lato;
    top: 32px;
    font-weight: 300;
  }
}
.navbar-default {
  background-color: $white-color;
  border-color: $border-color;
}
.nav {
  li {
    &.active {
      a {
        background-color: #ccc;
      }
    }
    a {
      padding: $nav-link-padding !important;
    }
  }
}
.head-font {
  color: $brand-base;
  font-size: $head-font;
  text-transform: uppercase;
}
.icon-pad {
  padding: 0 5px;
}
.padding0 {
  padding: 0;
}
.margin0 {
  margin: 0;
}
.profile-pic {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 105%;
  }
}
.custom-li {
  ul {
    display: inline-block;
    list-style: none;
    li {
      display: inline-block;
    }
  }
}
.pr30 {
  padding-right: 30px;
}
.pl30 {
  padding-left: 30px;
}
.pt15 {
  padding-top: 15px;
}
.pb15 {
  padding-bottom: 15px;
}
.btn {
  @include transition(all 300ms ease);
  &:focus,
  &.focus,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus {
    outline-width: 0;
    outline-offset: 0;
  }
}
.btn.btn-clear {
  background-color: transparent;
  &:focus,
  &.focus,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus {
    border-color: transparent;
  }
}
.user-setting {
  ul {
    li {
      vertical-align: middle;
      font-family: 'Montserrat';
    }
  }
}
.search-head {
  .form-control {
    height: 50px;
    border-radius: 0;
    width: 98%;
    border: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
  }
  .input-group {
    .btn {
      padding: 12px 21px;
      font-size: 18px;
      border: 0;
      &:hover {
        background: #fff;
        box-shadow: none;
      }
      i {
        color: #B2B2B2;
      }
    }
  }
}
.sidemenu {
  width: 225px;
  background: #fff;
  padding-top: 15px;
  padding-bottom: 60px;
  left: 0;
  position: fixed;
  top: 60px;
  margin: 0;
  height: 100%;
  z-index: 999;
  overflow-y: auto;
}
.main,
footer {
  padding-left: 250px;
}
.app-box {
  text-align: center;
  border: 1px solid $white-color;
  background: $white-color;
  padding: 10px 15px 25px;
  min-height: 230px;
  @include transition(all 300ms ease);
  cursor: pointer;
  .app-info {
    text-align: right;
    i {
      background-color: $brand-success;
      border-radius: 100%;
      color: $brand-success;
    }
  }
  .app-icon {
    height: 80px;
    overflow: hidden;
    display: block;
    margin-top: 25px;
    img {
      margin: 0 auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  .app-name {
    padding-top: 15px;
    font-family: 'lato';
    font-size: 16px;
    padding-bottom: 4px;
    color: $brand-base;
    text-transform: capitalize;
  }
  .app-date {
    p {
      font-family: 'lato';
      span {
        color: #000;
      }
    }
  }
  .new-app {
    margin-top: 25px;
    span {
      font-size: 50px;
      background: #D9D9D9;
      border-radius: 100%;
      height: 80px;
      width: 80px;
      display: block;
      margin: 0 auto;
      color: #fff;
      padding: 0;
      border-style: double;
    }
  }
  &:hover {
    transform: scale(1.1);
    border: 1px solid $hover-color;
  }
}
.mt30 {
  margin-top: 30px;
}
.mt60 {
  margin-top: 60px;
}
.upload-app {
  border: 1px solid $border-color;
  display: inline-flex;
  padding: 5px;
}
.mt45 {
  margin-top: 45px !important;
}
.upload-btn {
  margin-top: 15px;
  .btn {
    color: #fff;
    border-radius: 0;
    background: $grey-color;
  }
}
.name-submit {
  span {
    display: block;
    padding-bottom: 10px;
  }
  .form-control {
    border-radius: 0;
  }
}
.modal-dialog {
  position: absolute;
  margin: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)!important;
}
.modal-footer {
  @extend .upload-btn;
}
.modal-header {
  .close {
    outline: 0;
    &:focus {
      outline: 0;
    }
  }
  span {
    &:focus {
      outline: 0;
    }
  }
}
.list-unstyled {
  li {
    margin: 6px 0;
    a {
      color: $brand-base;
      font-size: 14px;
      cursor: pointer;
      i {
        font-size: 24px;
        padding-right: 15px;
        vertical-align: sub;
        color: $grey-color;
      }
    }
  }
}
.right-arrow {
  float: right;
  font-size: 15px !important;
  padding-top: 8px !important;
  padding-right: 0 !important;
}
// scrollbar
.sidemenu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: $border-color;
}
.sidemenu::-webkit-scrollbar {
  width: 7px;
  background-color: $border-color;
}
.sidemenu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: $grey-color;
}
.template-box {
  .template-des {
    width: auto;
    overflow: hidden;
    display: block;
    border: 1px solid #969696;
    padding: 5px;
    img {
      max-width: 100%;
      max-height: 100%;
      margin: 0 auto;
    }
  }
}
.ionic-template {
  h4 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin-top: 32px;
    color: $head-color;
    font-size: 20px;
    margin-bottom: 40px;
  }
}
.templat-bk {
  background: #fff;
  padding: 5px;
  cursor: pointer;
  @include transition(all 300ms ease);
  &:hover {
    transform: scale(1.1);
  }
}
.template-name {
  min-height: 35px;
  span {
    font-size: 17px;
    display: inline-block;
    padding-top: 6px;
    font-weight: 300;
  }
}
.preivew {
  text-align: center;
  margin-top: 50px;
  .app-prview {
    background: url("../img/device.png") no-repeat center center;
    width: 251px;
    height: 500px;
    background-size: 100% 100%;
    margin: 0 auto;
    position: fixed;
    right: 0;
    transform: translateX(-50%);
  }
}
.naming {
  h4 {
    font-size: 16px;
  }
}
// .grouplist {
//   .items {
//     min-height: 84px;
//     position: relative;
//     background: #fff;
//     padding: 10px 20px;
//     min-height: 60px;
//     .circle {
//       position: absolute;
//       border: 1px solid #ddd;
//       border-radius: 50%;
//       height: 40px;
//       width: 40px;
//       text-align: center;
//       font-size: 23px;
//       line-height: 1.4;
//       margin-top: 5px;
//     }
//     .pad-left {
//       padding-left: 51px;
//     }
//     .nav-name {
//       padding-top: 0;
//       font-size: 16px;
//       font-weight: 700;
//       h5 {
//         font-size: 16px;
//         font-weight: 700;
//       }
//     }
//   }
// }
@import "toggle"// @import "mahesh";
