<upload-image ng-model="form.image" >
</upload-image>
<h5>{{form.image}}</h5>


<upload-image ng-model="form.image2" multiple >
</upload-image>
<h5>{{form.image2}}</h5>

<section auto-height>
  <div class="container">
    <div class="mt60">
      <div class="row">
        <div class="col-md-3">
          <a ui-sref="theme">
            <div class="app-box">
              <div class="app-info">
                <div class="app-active">
                  <i class="ln-circle"></i>
                </div>
              </div>
              <div class="app-icon">
                <img src="img/a1.png">
              </div>
              <div class="app-name">
                <span>Selig Wordpress</span>
              </div>
              <div class="app-date">
                <p><span>Modified </span>: Jan. 30, 16</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-3">
          <div class="app-box">
            <div class="app-info">
              <div class="app-active">
                <i class="ln-circle"></i>
              </div>
            </div>
            <div class="app-icon">
              <img src="img/a2.png">
            </div>
            <div class="app-name">
              <span>Business App</span>
            </div>
            <div class="app-date">
              <p><span>Modified </span>: Jan. 30, 16</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="app-box">
            <div class="app-info">
              <div class="app-active">
                <i class="ln-circle"></i>
              </div>
            </div>
            <div class="app-icon">
              <img src="img/a1.png">
            </div>
            <div class="app-name">
              <span>Selig Wordpress</span>
            </div>
            <div class="app-date">
              <p><span>Modified </span>: Jan. 30, 16</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="app-box" ng-click="open()">
            <div class="new-app mt45">
              <span>+</span>
            </div>
            <div class="app-name">
              <span>Create new app</span>
            </div>
            <!-- <div class="app-date">
          <p><span>Modified </span>: Jan. 30, 16</p>
        </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
