<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-8 max-size">
              <div class="ionic-template mb30">
                <h4 class="pad20">Audio Gallery > Edit Audio Gallery</h4>
                <div class="row">
                  <div class="col-md-12">
                    <div class="home-slider form-background">
                      <div class="naming">
                        <h4>Edit Audio Gallery</h4>
                      </div>
                      <form action="">
                        <div class="form-group">
                          <label for="exampleInputName2">Playlist Title</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="Photo Title">
                        </div>

                        <div class="form-group">
                          <label for="exampleInputName2">Status</label>
                          <select class="form-control">
                            <option>Enable</option>
                            <option>Disable</option>

                          </select>
                        </div>

                        <div class="form-group">
                          <label for="exampleInputName2">Date</label>
                          <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                              alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
             <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
           </span>
                          </p>
                        </div>
                        <div class="img-upload">
                          <label for="">Upload Image</label>
                          <div class="slider-box">

                            <img src="img/slider/s1.jpg" class="img-responsive">
                          </div>
                          <div class="form-group">
                            <input type="file" id="exampleInputFile">

                          </div>
                        </div>
                        <div class="multiple-img">
                          <label for="">Upload Audio</label>
                          <div class="create-event pull-right">
                            <button class="btn btn-primary" ng-click="AudioEdit()">Upload Audio</button>
                          </div>
                          <div class="image-set">
                            <div class="drop-image">
                              <a href="" ui-sref="photo-gallerydetail"> <img src="img/slider/s1.jpg"></a>
                            </div>

                          </div>
                        </div>
                    </div>
                    <div class="upload-img text-center">
                      <button class="btn btn-primary">Save</button>
                      <button class="btn btn-primary">Cancel</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="preivew">
                <div class="app-prview">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
