<div class="ionic-template mb30">
   <div class="pull-right pd20">
      <a class="btn btn-primary btn-outline btn-small create-btn" href="#" target="_blank">Tutorials</a>
   </div>
   <h4 class="pad20">Audio Gallery</h4>
   <div class="row">
      <div class="col-md-12">
         <div class="home-slider form-background">
            <!-- <div class="create-event pull-right">
          <button class="btn btn-primary btn-outline btn-small" ui-sref="audio-gallerydetail">Create Playlist</button>
        </div> -->
            <div class="naming">
               <h4>Setup Audio Gallery</h4>
            </div>
            <!-- <div class="image-set">
          <div class="drop-image">
            <a ui-sref="editaudio-gallerydetail"> <img ng-src="img/slider/s1.jpg"></a> -->
            <!-- <a ui-sref="audio-gallerydetail({id:audiogal._id})" ng-repeat="audiogal in audioGallerydata"> <img ng-src="{{audiogal.image | uploadpath}}"></a> -->
            <!-- </div>
        </div> -->
            <div class="form-login paddingup">
               <form ng-submit="updateAudio();">
                  <div class="form-group">
                     <label for="">We will require your soundcloud username
                        <i class="ln-circle-question info" uib-tooltip="Please enter your soundcloud username" tooltip-placement="top" tooltip-trigger="mouseenter"></i>
                     </label>
                     <input type="text" class="form-control" id="" placeholder="Please enter your soundcloud username" ng-model="configData.soundCloudUsername" required>
                  </div>
                  <div class="upload-img text-right pt15">
                     <button type="submit" class="btn btn-primary btn-outline btn-small">Save</button>
                     <!-- <button class="btn btn-primary btn-outline btn-small" ng-click="resetAudio();">Reset</button> -->
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
