<div class="ionic-template mb30">
   <div class="pull-right pd20">
      <a class="btn btn-primary btn-outline btn-small create-btn" href="#" target="_blank">Tutorials</a>
   </div>
   <h4 class="pad20">Audio Gallery</h4>
   <div class="row">
      <div class="col-md-12">
         <div class="home-slider form-background">
            <!-- <div class="create-event pull-right">
          <button class="btn btn-primary btn-outline btn-small" ui-sref="audio-gallerydetail">Create Playlist</button>
        </div> -->
            <div class="naming">
               <h4>Setup Audio Gallery</h4>
            </div>
            <!-- <div class="image-set">
          <div class="drop-image">
            <a ui-sref="editaudio-gallerydetail"> <img ng-src="img/slider/s1.jpg"></a> -->
            <!-- <a ui-sref="audio-gallerydetail({id:audiogal._id})" ng-repeat="audiogal in audioGallerydata"> <img ng-src="{{audiogal.image | uploadpath}}"></a> -->
            <!-- </div>
        </div> -->
            <div class="form-login paddingup">
               <form>
                  <div class="form-group">
                     <label for="">We will require your soundcloud username</label>
                     <input type="text" class="form-control" id="" placeholder="Please enter your soundcloud username" ng-model="audio.username">
                  </div>
               </form>
               <div class="upload-img text-right pt15">
                  <button class="btn btn-primary btn-outline btn-small" ng-click="updateAudio();">Save</button>
                  <button class="btn btn-primary btn-outline btn-small" ng-click="resetAudio();">Reset</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
