<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-8 max-size">
            <div class="ionic-template mb30">
              <h4 class="pad20">Audio Gallery</h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="home-slider form-background">
                    <div class="create-event pull-right">
                      <button class="btn btn-primary" ui-sref="audio-gallerydetail">Create Playlist</button>
                    </div>
                    <div class="naming">
                      <h4>Set Audio Gallery</h4>
                    </div>
                    <div class="image-set">
                      <div class="drop-image">
                        <a href="" ui-sref="audio-gallerydetail"> <img src="img/slider/s1.jpg"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="preivew">
              <div class="app-prview">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
