<div class="config">
  <section class="main">
    <div class="theme">
      <div class="chosse-theme">
        <div class="container-fluid">
          <div class="">
            <div class="row">
              <div class="col-xs-7">
                <div class="ionic-template">
                  <h4>Configuration</h4>
                  <div class="row">
                    <div class="col-md-10">
                      <div class="list">
                        <ul class="list-unstyled">
                          <li>
                            <a ui-sref="search">
                              <i class="ln-thumbs-up"></i> Search
                              <i class="ln-chevron-right right-arrow"></i>
                            </a>
                          </li>
                          <li>
                            <a ui-sref="social-feeds">
                              <i class="ln-magnifier"></i> Social Feeds
                              <i class="ln-chevron-right right-arrow"></i>
                            </a>
                          </li>
                          <li>
                            <a ui-sref="google-analytics">
                              <i class="ln-graph"></i> Google Analytics <i class="ln-chevron-right right-arrow"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="google-analytics">
                        <form action="">
                          <h4>Configuration > Google Analytics </h4>
                          <div class="form-group">
                            <label for="exampleInputName2">Google Analytics </label>
                            <textarea name="name" class="form-control" placeholder="Please enter the Google Analytics code here"></textarea>
                          </div>
                          <div class="upload-img text-center">
                            <button class="btn btn-primary">Save</button>
                            <button class="btn btn-primary">Cancel</button>
                          </div>
                        </form>
                      </div>
                      <div class="soical-feeds">
                        <h4>Configuration > Social Feeds</h4>
                        <form action="">
                          <div class="form-group">
                            <label for="exampleInputName2">Facebook Page Url</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Facebook Page Url">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">Twitter Page Url</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Twitter Page Url">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">Instagram Page Url</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Instagram Page Url">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">Google+ Page Url</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Google+ Page Url">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">Youtube Page Url</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Youtube Page Url">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">Tumblr Page Url</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Tumblr Page Url">
                          </div>
                          <div class="upload-img text-center">
                            <button class="btn btn-primary">Save</button>
                            <button class="btn btn-primary">Cancel</button>
                          </div>
                        </form>
                      </div>
                      <div class="search">
                        <h4>Configuration > Search</h4>
                        <label>Please Enable Search</label>
                        <form action="">
                          <div class="checkbox" ng-repeat="items in navigation">
                            <label>
                              <input type="checkbox" value="">{{items.name}}</label>
                          </div>
                          <div class="upload-img text-center">
                            <button class="btn btn-primary">Save</button>
                            <button class="btn btn-primary">Reset</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
