<div class="max-size">
  <div class="ionic-template mb30">
    <h4 class="pad20">Contact</h4>
    <div class="row">
      <div class="col-md-12">
        <div class="home-slider form-background">
          <div class="naming">
            <h4 class="display-inline">List Of Contact</h4>
            <div class="create-event float-right">
              <button class="btn btn-primary btn-outline btn-small create-btn" ui-sref="contactdetail">Create</button>
            </div>
          </div>
          <div class="notification-list mt30">
            <div class="notification-table">
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      <div class="select">

                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                          </label>
                        </div>
                      </div>
                    </th>
                    <th>
                      <span>Contact Title</span>
                    </th>
                    <th>
                      <span>Contact Address</span>
                    </th>
                    <th>
                      <span>Action</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="contact in contactdata">
                    <td>
                      <div class="select-check">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                          </label>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span>{{contact.title}}</span>
                    </td>
                    <td>
                      <span>{{contact.address}}</span>
                    </td>
                    <td>
                      <div class="action">
                        <a ui-sref="editcontactdetail({id:contact._id})"> <i class="ln-edit2 edit" tooltip-placement="top" uib-tooltip="Edit"></i></a>
                        <a ng-click="deleteContact(contact._id)"><i class="ln-trash2 delete" tooltip-placement="top" uib-tooltip="Delete"></i></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
