<div class="max-size">
    <div class="ionic-template mb30">
        <div class="pull-right pd20">
            <a class="btn btn-primary btn-outline btn-small create-btn" href="#" target="_blank">Tutorials</a>
        </div>
        <h4 class="pad20">Contact
            <i class="fa fa-angle-right"></i>
            {{page.header}}
        </h4>
        <div class="row">
            <div class="col-md-12">
                <div class="home-slider form-background">
                    <form name="user" ng-submit="contactSubmitForm(user)">
                        <div class="naming">
                            <h4>{{page.header}}
                            </h4>
                        </div>
                        <div class="google-login mt10">
                            <div class="form-login">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input name="title" required ng-model="userForm.title" type="text" class="form-control" id="" placeholder="Title" required>
                                    <div class="error-msg" ng-show="user.title.$error.required && user.title.$touched">Please enter title</div>
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea name="address" required type="text" class="form-control" ui-tinymce="template.tinymceconfig" ng-model="userForm.address"></textarea>
                                </div>
                                <div class="error-msg" ng-show="user.address.$error.required && user.address.$touched">Please enter your address</div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input name="email" required ng-model="userForm.email" type="email" class="form-control" id="" placeholder="Email" required>
                                    <div class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please enter your email id</div>
                                    <div class="error-msg" ng-show="user.email.$error.email">Please enter valid email id</div>
                                </div>
                                <div class="form-group">
                                    <label>Contact Number</label>
                                    <input name="contactno" required ng-model="userForm.contactno" type="tel" class="form-control" id="" placeholder="Contact Number" required>
                                    <div class="error-msg" ng-show="user.contactno.$error.required && user.contactno.$touched">Please enter your contact number</div>
                                </div>
                                <div ng-if="userForm.lat" map-lazy-load="https://maps.google.com/maps/api/js?key=AIzaSyCn9ypqFNxdXt9Zu2YqLcdD1Xdt2wNul9s">
                                    <ng-map zoom="11" center="[{{mapCenter.lat}},{{mapCenter.long}}]">
                                        <marker on-dragend="change()" position="[{{userForm.lat}},{{userForm.long}}]" title="drag me" draggable="true"></marker>
                                    </ng-map>
                                </div>

                            </div>
                            <div class="form-group">
                                <label>Latitude</label>
                                <textarea name="maplink" ng-model="userForm.lat" class="form-control" id="" placeholder="Enter Latitude" rows="2"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Longitude</label>
                                <textarea name="maplink" ng-model="userForm.long" class="form-control" id="" placeholder="Enter Longitude" rows="2"></textarea>
                            </div>
                        </div>
                        <!-- <div class="upload-img text-right">
              <button class="btn btn-primary btn-outline btn-small">Add More</button>
            </div> -->
                        <div class="upload-img text-right">
                            <button type="submit" class="btn btn-primary btn-outline btn-small" type="submit" ng-disabled="user.$invalid">Save</button>
                            <a class="btn btn-danger btn-outline btn-small" ui-sref="contact">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
