<section class="main">
   <div class="container-fluid">
      <div class="ionic-template mb30">
         <h4 class="pad20">Dashboard</h4>
         <div class="row">
            <div class="col-md-3">
               <div class="panel border-left border-primary">
                  <div class="panel-body">
                     <div class="text-center">
                        <!-- <h1>2345</h1> -->
                        <h1>{{totaluser}}</h1>
                        <h5>Total Users</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="panel border-left border-primary">
                  <div class="panel-body">
                     <div class="text-center">
                        <h1>{{android}}</h1>
                        <h5>Android Users</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="panel border-left border-primary">
                  <div class="panel-body">
                     <div class="text-center">
                        <h1>{{ios}}</h1>
                        <h5>iOS Users</h5>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="panel border-left border-primary">
                  <div class="panel-body">
                     <div class="text-center">
                        <h1>{{normal}}</h1>
                        <h5>Web Users</h5>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="form-background">
            <div class="row">
               <div class="col-md-8">
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        User data
                     </div>
                     <div class="panel-body">
                        <div class="highcharts">
                           <hc-pie-chart title="Browser usage" data="pieData">Placeholder for pie chart</hc-pie-chart>
                        </div>
                        <div class="highcharts">
                           <hc-chart options="chartOptions">Placeholder for generic chart</hc-chart>
                        </div>
                        <!-- <div class="highcharts2">
                <highchart id="chart2" config="pieChart"></highchart>
              </div> -->
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="panel panel-default">
                     <div class="panel-heading">Recent Enquiries</div>
                     <table class="table">
                        <thead>
                           <tr>
                              <th>Name</th>
                              <th>Subject</th>
                              <th>Date Time</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="enquiry in enquirydata">
                              <td>{{enquiry.name}}</td>
                              <td>{{enquiry.subject}}</td>
                              <td>{{enquiry.timestamp | fromnow}}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
