<section class="main">
  <div class="container-fluid">
    <div class="ionic-template mb30">
      <h4 class="pad20">Dashboard</h4>
      <div class="row">
        <div class="col-md-3">
          <div class="panel">
            <div class="panel-body">
              <div class="text-center">
                <h1>2345</h1>
                <h5>Total Users</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel">
            <div class="panel-body">
              <div class="text-center">
                <h1>500</h1>
                <h5>Android Users</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel">
            <div class="panel-body">
              <div class="text-center">
                <h1>1500</h1>
                <h5>iOS Users</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel">
            <div class="panel-body">
              <div class="text-center">
                <h1>345</h1>
                <h5>Web Users</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              User data
            </div>
            <div class="panel-body"></div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">Recent Enquiries</div>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Subject</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>Mark</td>
                  <td>Lorem ipsum dolor sit amet.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
