<div class="max-size">
  <div class="ionic-template mb30">
    <h4 class="pad20">Enquiry</h4>
    <div class="row">
      <div class="col-md-12">
        <div class="home-slider form-background">
          <div class="naming">
            <h4 class="display-inline">List Of Enquiries</h4>
            <div class="create-event float-right">
              <button class="btn btn-primary btn-outline btn-small create-btn" ui-sref="enquirydetail">Create</button>
            </div>
          </div>
          <div class="notification-list mt30">
            <div class="notification-table">
              <table class="table" ng-if="enquirydata.length>0">
                <thead>
                  <tr>
                    <th>
                      <div class="select">
                        <!-- <span>Select All</span> -->
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                          </label>
                        </div>
                      </div>
                    </th>
                    <th>
                      <span>Name</span>
                    </th>
                    <th>
                      <span>Email</span>
                    </th>
                    <th>
                      <span>Timestamp</span>
                    </th>
                    <th>
                      <span>Action</span>
                    </th>
                  </tr>
                </thead>
                <tbody ng-if="enquirydata.length>0">
                  <tr ng-repeat="enquiry in enquirydata">
                    <td>
                      <div class="select-check">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                          </label>
                        </div>
                      </div>
                    </td>
                    <td>
                      <span>{{enuiry.name}}</span>
                    </td>
                    <td>
                      <span>{{enquiry.email}}
                      </span>
                    </td>
                    <td>
                      <span>{{enquiry.timestamp}}
                      </span>
                    </td>
                    <td>
                      <div class="action">
                        <a ui-sref="editeventdetail({id:enquiry._id})">
                          <i class="ln-edit2 edit" tooltip-placement="top" uib-tooltip="Edit"></i>
                        </a>
                        <a ng-click="deleteEvent(event._id)">
                          <i class="ln-trash2 delete" tooltip-placement="top" uib-tooltip="Delete"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p class="text-center list-unstyled grouplist" ng-if="!enquirydata || enquirydata.length==0">
                No Enquiries Yet
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
