<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-8 max-size">
              <div class="ionic-template mb30">
                <h4 class="pad20">Events > {{page.header}}</h4>
                <div class="row">
                  <div class="col-md-12">
                    <div class="home-slider form-background">
                      <div class="naming">
                        <h4>{{page.header}}</h4>
                      </div>
                      <div class="google-login paddingup">
                        <div class="form-login">
                          <form action="" name="user">
                            <div class="form-group">
                              <label for="exampleInputName2">Event Title</label>
                              <input name="eventTitle" required ng-model="userForm.eventTitle" type="text" class="form-control" id="exampleInputName2" placeholder="Event Title">
                              <div class="error-msg" ng-show="user.eventTitle.$error.required && user.eventTitle.$touched">Please Enter Event Title.</div>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputName2">Venue</label>
                              <input name="venue" required ng-model="userForm.venue" type="text" class="form-control" id="exampleInputName2" placeholder="Venue">
                              <div class="error-msg" ng-show="user.venue.$error.required && user.venue.$touched">Please Enter Venue.</div>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputName2">Content</label>
                              <textarea  name="content" required ui-tinymce ng-model="userForm.content" class="form-control" ></textarea>
                              <div class="error-msg" ng-show="user.content.$error.required && user.content.$touched">Please Enter Content.</div>
                            </div>
                            <div class="form-group mt25">
                              <label for="exampleInputName2">Date</label>
                              <p class="input-group">
                                <input  name="date" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="userForm.date" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                                  alt-input-formats="altInputFormats" />
                                <span class="input-group-btn calender-btn">
                                  <button type="button" class="btn btn-default" ng-click="open1()">
                                      <i class="ln-calendar3"></i>
                                  </button>
                                  <div class="error-msg" ng-show="user.date.$error.required && user.date.$touched">Please Enter Date.</div>
                               </span>
                              </p>
                            </div>
                            <div class="form-group mt25">
                              <label for="exampleInputName2">Time</label>
                              <input name="time" ng-model="userForm.time" type="time" class="form-control">
                                <div class="error-msg" ng-show="user.time.$error.required && user.time.$touched">Please Enter Time.</div>
                            </div>
                            <div class="form-group">
                              <label for="">Event Banner</label>
                              <div class="image-set mt15">
                                <div class="image-picker">
                                  <div dnd-list="lists" class="pt15">
                                    <div class="image-set">
                                      <div class="row" ui-sortable ng-model="lists">
                                        <div class="drop-image col-xs-3" ng-repeat="item in lists">
                                          <div ng-click="open();" class="image-holder" ng-style="{'background-image': 'url({{item.image}})'}"></div>
                                        </div>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <div class="form-group">
                              <label for="" class="display-inline">Event Video</label>
                              <div class="create-event float-right">
                                <button class="btn btn-primary btn-outline btn-small create-btn" ui-sref="eventdetail">Upload Video</button>
                              </div>
                              <div class="image-set mt15">
                                <div class="image-picker">
                                  <div dnd-list="lists" class="pt15">
                                    <div class="image-set">
                                      <div class="row" ui-sortable ng-model="lists">
                                        <div class="drop-image col-xs-3" ng-repeat="item in lists">
                                          <div ng-click="open();" class="image-holder" ng-style="{'background-image': 'url({{item.image}})'}"></div>
                                        </div>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <div class="upload-img text-center">
                              <button class="btn btn-primary btn-outline btn-small">Upload Image</button>
                            </div>
                        </div>
                        <div class="upload-img text-center mar30">
                        <a href="#/events">  <button class="btn btn-primary btn-outline btn-small"  ng-click="submitForm(userForm,user)">Save</button>
                          <button class="btn btn-primary btn-outline btn-small ml12" ng-click="cancel(userForm)">Cancel</button></a>
                        </div>
                        </form>
                      </div>
                      <div class="text-center" ng-show="formComplete">
                          <h3>Submitted Successfully, Thank You!</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="preivew">
                <div class="app-prview">

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
</section>
