<div class="max-size">
   <div class="ionic-template mb30">
      <div class="float-right pd20">
         <a class="btn btn-primary btn-outline btn-small create-btn" href="#" target="_blank">Tutorials</a>
      </div>
      <h4 class="pad20">Events</h4>
      <div class="row">
         <div class="col-md-12">
            <div class="home-slider form-background">
               <div class="naming">
                  <h4 class="display-inline">List Of events</h4>
                  <div class="create-event float-right">
                     <button class="btn btn-primary btn-outline btn-small create-btn" ui-sref="eventdetail">Create</button>
                  </div>
               </div>
               <div class="notification-list mt30">
                  <div class="notification-table">
                     <table class="table" ng-if="eventsdata.length>0">
                        <thead>
                           <tr>
                              <th class="width30">
                                 <div class="select-checkbox">
                                    <div class="checkbox">
                                       <div class="custom-checkbox">
                                          <input type="checkbox" id="checkbox{{$index}}" name="checkbox" value="true" />
                                          <label for="checkbox{{$index}}"><span uib-tooltip="Select All" tooltip-placement="top" tooltip-trigger="mouseenter"></span></label>
                                       </div>
                                    </div>
                                 </div>
                              </th>
                              <th>
                                 <span>Title</span>
                              </th>
                              <th>
                                 <span>Date</span>
                              </th>
                              <th>
                                 <span>Action</span>
                              </th>
                           </tr>
                        </thead>
                        <tbody ng-if="eventsdata.length>0">
                           <tr ng-repeat="event in eventsdata">
                              <td class="width30">
                                 <div class="select-checkbox">
                                    <div class="checkbox">
                                       <div class="custom-checkbox">
                                          <input type="checkbox" id="checkbox{{$index}}" name="checkbox" value="true" />
                                          <label for="checkbox{{$index}}"><span></span></label>
                                       </div>
                                    </div>
                                 </div>
                              </td>
                              <td>
                                 <span>{{event.name}}</span>
                              </td>
                              <td>
                                 <span>{{event.startTime | date : 'fullDate'}}
                      </span>
                              </td>
                              <td>
                                 <div class="action">
                                    <a ui-sref="editeventdetail({id:event._id})">
                                       <i class="ln-edit2 edit" tooltip-placement="top" uib-tooltip="Edit"></i>
                                    </a>
                                    <a ng-click="deleteEvent(event._id)">
                                       <i class="ln-trash2 delete" tooltip-placement="top" uib-tooltip="Delete"></i>
                                    </a>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <p class="text-center list-unstyled grouplist" ng-if="!eventsdata || eventsdata.length==0">
                        No Events Yet
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
