<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-7">
              <div class="ionic-template">
                <h4>Events</h4>
                <div class="row">
                  <div class="col-md-8">

                    <div class="home-slider">
                      <div class="naming">
                        <h4>List Of events</h4>
                      </div>
                    </div>
                    <div class="create-event pull-right">
                      <button class="btn btn-primary" ui-sref="eventdetail">Create</button>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="notification-list">
                      <div class="notification-table">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>
                                <div class="select">
                                  <span>Select All</span>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                                    </label>
                                  </div>
                                </div>
                              </th>
                              <th>
                                <span>Event Title</span>
                              </th>
                              <th>
                                <span>Event Date</span>
                              </th>
                              <th>
                                <span>Action</span>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <div class="select-check">
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                                    </label>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <span>Jaipurpinkpanther App Lunching at jaipur</span>
                              </td>
                              <td>
                                <span>Thu, Dec 10 2015 </span>
                              </td>
                              <td>
                                <div class="action">
                                  <a ui-sref="eventdetail"> <i class="ln-edit2"></i></a>
                                  <a href=""><i class="ln-trash2"></i></a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-5">
              <div class="preivew">
                <div class="app-prview">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
