<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-8 max-size">
              <div class="ionic-template mb30">
                <h4 class="pad20">Events > Edit Event</h4>
                <div class="row">
                  <div class="col-md-12">
                    <div class="home-slider form-background">
                      <div class="naming">
                        <h4>Edit events</h4>
                      </div>
                      <div class="google-login paddingup">
                        <div class="form-login">
                          <form action="">
                            <div class="form-group">
                              <label for="exampleInputName2">Event Title</label>
                              <input type="text" class="form-control" id="exampleInputName2" placeholder="Event Title">
                            </div>
                            <div class="form-group">
                              <label for="exampleInputName2">Venue</label>
                              <input type="text" class="form-control" id="exampleInputName2" placeholder="Venue">
                            </div>
                            <div class="form-group">
                              <label for="exampleInputName2">Content</label>
                              <textarea class="form-control" ui-tinymce ng-model="tinymceModel"></textarea>
                            </div>
                            <div class="form-group mt25">
                              <label for="exampleInputName2">Date</label>
                              <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                                  alt-input-formats="altInputFormats" />
                                <span class="input-group-btn calender-btn">
                                  <button type="button" class="btn btn-default" ng-click="open1()">
                                      <i class="ln-calendar3"></i>
                                  </button>
                               </span>
                              </p>
                            </div>
                            <div class="form-group mt25">
                              <label for="exampleInputName2">Time</label>
                              <input type="time" class="form-control">
                            </div>
                            <div class="form-group">
                              <label for="">Event Banner</label>
                              <div class="image-set mt15">
                                <div class="image-picker">
                                  <div dnd-list="lists" class="pt15">
                                    <div class="image-set">
                                      <div class="row" ui-sortable ng-model="lists">
                                        <div class="drop-image col-xs-3" ng-repeat="item in lists">
                                          <div ng-click="open();" class="image-holder" ng-style="{'background-image': 'url({{item.image}})'}"></div>
                                        </div>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <div class="form-group">
                              <label for="" class="display-inline">Event Video</label>
                              <div class="create-event float-right">
                                <button class="btn btn-primary btn-outline btn-small create-btn" ui-sref="eventdetail">Upload Video</button>
                              </div>
                              <div class="image-set mt15">
                                <div class="image-picker">
                                  <div dnd-list="lists" class="pt15">
                                    <div class="image-set">
                                      <div class="row" ui-sortable ng-model="lists">
                                        <div class="drop-image col-xs-3" ng-repeat="item in lists">
                                          <div ng-click="open();" class="image-holder" ng-style="{'background-image': 'url({{item.image}})'}"></div>
                                        </div>
                                      </div>
                                      <div class="clearfix"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                            </div>
                            <div class="upload-img text-center">
                              <button class="btn btn-primary btn-outline btn-small">Upload Image</button>
                            </div>
                        </div>
                        <div class="upload-img text-center mar30">
                          <button class="btn btn-primary btn-outline btn-small">Save</button>
                          <button class="btn btn-primary btn-outline btn-small ml12">Cancel</button>
                        </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="preivew">
                <div class="app-prview">

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
</section>
