
<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-7">
              <div class="ionic-template">
                <h4>Home Page</h4>
                <div class="row">
                  <div class="col-md-12">
                    <div class="home-slider">
                      <div class="naming">
                        <h4>Forms to Refer</h4>
                      </div>
                      <div class="forms">
                        <input type="file" accept="image/*" image="image" />File
                        <img ng-show="image" ng-src="{{image.url}}" type="{{image.file.type}}" />
                      </div>
                      <div class="upload-img">
                        <!-- write name of the form -->
                        <form role="form" name="">

                          <div class="form-group">
                            <input type="text" class="form-control" id="email" placeholder="Name">
                          </div>

                          <div class="form-group">
                            <input type="text" class="form-control" id="pwd" placeholder="Placeholder">
                          </div>

                          <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-5">
              <div ng-include="preview"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
