<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-7">
              <div class="ionic-template mb30">
                <h4 class="pad20">Home Page</h4>
                <div class="row">
                  <div class="col-md-12">
                    <div class="home-slider form-background">
                      <div class="naming">
                        <h4>Set Home Slider</h4>
                      </div>
                      <div class="image-picker">
                        <div dnd-list="lists" class="pt15">
                          <div class="image-set">
                            <div class="drop-image col-md-2" ng-repeat="item in lists" dnd-draggable="item" dnd-moved="lists.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="models.selected = item" ng-class="{'selected': models.selected === item}">
                              <a href="" ng-click="open()" class="image-holder">
                                <img ng-src="{{item.image}}" class="img-responsive">
                              </a>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        </div>
                      </div>
                      <div class="upload-img text-center mar30">
                        <button class="btn btn-primary">Upload Image</button>
                      </div>
                    </div>
                    <div class="home-content form-background mt30">
                      <div class="naming">
                        <h4>Set Home Content</h4>
                      </div>
                      <div class="fill-content mt15">
                        <div class="all-label">
                          <span>Content</span>
                        </div>
                        <div class="mt15">
                          <textarea ui-tinymce ng-model="tinymceModel"></textarea>
                        </div>
                        <div class="upload-img text-center mar30">
                          <button class="btn btn-primary">Save</button>
                          <button class="btn btn-primary ml12">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-5">
              <div class="preivew">
                <div class="app-prview"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
