<div class="ionic-template mb30">
  <div class="pull-right pd20">
     <a class="btn btn-primary btn-outline btn-small create-btn" href="#" target="_blank">Tutorials</a>
  </div>
  <h4 class="pad20">Intro Slider</h4>
  <div class="row">
    <div class="col-md-12">
      <div class="home-slider form-background">
        <div class="pull-right "><a class="btn btn-primary btn-outline btn-small create-btn" href="#" target="_blank">Tutorials</a></div>
        <div class="naming">
          <h4>Set Onboarding Slider</h4>
        </div>
        <div class="image-picker">
          <div dnd-list="lists" class="pt15">
            <div class="image-set">
              <div class="row" ui-sortable ng-model="lists">
                <div class="drop-image col-xs-3" ng-repeat="item in userForm.images">
                  <div ng-click="open()" class="image-holder" ng-style="{'background-image': 'url({{item| uploadpath}})'}"></div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <upload-image ng-model="userForm.images" multiple no-view></upload-image>
        </div>
        <!-- <div class="upload-img text-center">
          <button class="btn btn-primary btn-outline btn-small">Upload Image</button>
        </div> -->
        <div class="upload-img text-center">
          <button class="btn btn-primary btn-outline btn-small">Save</button>
          <button class="btn btn-primary btn-outline btn-small ml12">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
