<div class="ionic-template mb30">
   <div class="pull-right pd20">
      <a class="btn btn-primary btn-outline btn-small create-btn" href="#" target="_blank">Tutorials</a>
   </div>
   <h4 class="pad20">Intro Slider</h4>
   <div class="row">
      <div class="col-md-12">
         <div class="home-slider form-background">
            <div class="naming">
               <h4>Set Onboarding Slider</h4>
            </div>
            <div class="image-picker">
               <div dnd-list="lists" class="pt15">
                  <div class="image-set">
                     <div class="row" ui-sortable="sortableOptions" ng-model="userForm">
                        <div class="drop-image col-xs-3" ng-repeat="item in userForm">
                           <div ng-click="open(item)" class="image-holder">
                              <img ng-src="{{item.image | uploadpath:100:100:'fill'}}">
                              <div class="caption">
                                 <p ng-if="item.name">{{item.name}}</p>
                              </div>
                              <div class="delete-image" ng-click="popSlider($index, item._id); $event.stopPropagation();">
                                 <i class="ln ln-cross"></i>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                  </div>
               </div>

            </div>
            <div class="text-center" ng-show="showNoSlider">
               No onboarding sliders added, please click on <span class="primary">Upload Image</span> to add onboarding sliders.
            </div>
            <div class="upload-img mt30">
               <upload-image ng-model="imageArr" multiple no-view ng-callback="changeit"></upload-image>
            </div>
            <div class="upload-img text-right">
               <button class="btn btn-primary btn-outline btn-small" ng-click="saveModalData({})">Save</button>
               <button class="btn btn-danger btn-outline btn-small">Cancel</button>
            </div>
         </div>
      </div>
   </div>
</div>
