<div class="ionic-template mb30">
  <div class="float-right pd20">
    <a class="btn btn-primary btn-outline btn-small create-btn" href="#" target="_blank">Tutorials</a>
  </div>
  <h4 class="pad20">Login &amp; Signup Page</h4>
  <div class="row fadeInOut">
    <div class="col-md-12">
      <div class="home-slider form-background">
        <div class="display-inline pull-right">
          <div class="onoffswitch" ng-click="loginOff();">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1" ng-change="changeLogin()" ng-model="login.hasLogin">
            <label class="onoffswitch-label" for="myonoffswitch1">
              <span class="onoffswitch-inner"></span>
              <span class="onoffswitch-switch"></span>
            </label>
          </div>
        </div>
        <div class="naming">
          <h4>Set Login Signup</h4>
        </div>
        <div class="set-login paddingup">
          <div class="google-login">
            <div class="display-inline float-right">
              <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" ng-model="login.custom" ng-change="changeLoginForOther(login.custom)">
                <label class="onoffswitch-label" for="myonoffswitch2">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
            <div class="naming simple">
              <h4>Custom Login / Signup</h4>
            </div>
          </div>
          <div class="google-login mt30">
            <div class="display-inline float-right">
              <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3" ng-model="login.google" ng-change="changeLoginForOther(login.google)">
                <label class="onoffswitch-label" for="myonoffswitch3">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
            <div class="naming" ng-class="{'simple': !login.google}">
              <h4>Google Login</h4>
            </div>
            <div class="form-login mt10 fadeInOut" ng-if="login.google">
              <form name="googleForm">
                <div class="form-group">
                  <label for="">Google Client ID <i class="ln-circle-question info" uib-tooltip="Please Enter your Google Client ID" tooltip-placement="top" tooltip-trigger="mouseenter"></i>
                  </label>
                  <input type="text" name="googleid" class="form-control" id="" ng-model="login.googleCredentials.id" required>
                  <div class="error-msg" ng-show="googleForm.googleid.$error.required && googleForm.googleid.$touched">Please Enter Google Client ID.</div>
                </div>
                <div class="form-group">
                  <label for="">Google Client secret
                    <i class="ln-circle-question info" uib-tooltip="Please Enter your Google Client Secret Password " tooltip-placement="top" tooltip-trigger="mouseenter"></i>
                  </label>
                  <input type="text" name="googlesecret" class="form-control" id="" ng-model="login.googleCredentials.secret" required>
                  <div class="error-msg" ng-show="googleForm.googlesecret.$error.required && googleForm.googlesecret.$touched">Please Enter Google Client Secret.</div>
                </div>
              </form>
            </div>
          </div>

          <div class="google-login mt30">
            <div class="display-inline float-right">
              <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch4" ng-model="login.facebook" ng-change="changeLoginForOther(login.facebook)">
                <label class="onoffswitch-label" for="myonoffswitch4">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
            <div class="naming" ng-class="{'simple': !login.facebook}">
              <h4>Facebook Login</h4>
            </div>
            <div class="form-login mt10 fadeInOut" ng-if="login.facebook">
              <form name="facebookForm">
                <div class="form-group">
                  <label for="">Facebook App ID
                    <i class="ln-circle-question info" uib-tooltip="Please Enter your Facebook App ID" tooltip-placement="top" tooltip-trigger="mouseenter"></i> </label>
                  <input type="text" name="fbid" class="form-control" id="" ng-model="login.facebookCredentials.id" required>
                  <div class="error-msg" ng-show="facebookForm.fbid.$error.required && facebookForm.fbid.$touched">Please Enter Facebook App ID.</div>
                </div>
                <div class="form-group">
                  <label for="">Facebook App Secret
                    <i class="ln-circle-question info" uib-tooltip="Please Enter your Facebook App Secret" tooltip-placement="top" tooltip-trigger="mouseenter"></i>
                  </label>
                  <input type="text" name="fbsecret" class="form-control" id="" ng-model="login.facebookCredentials.secret" required>
                  <div class="error-msg" ng-show="facebookForm.fbsecret.$error.required && facebookForm.fbsecret.$touched">Please Enter Facebook App Secret.</div>
                </div>
              </form>
            </div>
          </div>

          <div class="google-login mt30">
            <div class="display-inline float-right">
              <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5" ng-model="login.twitter" ng-change="changeLoginForOther(login.twitter)">
                <label class="onoffswitch-label" for="myonoffswitch5">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
            <div class="naming" ng-class="{'simple': !login.twitter}">
              <h4>Twitter Login</h4>
            </div>
            <div class="form-login mt10 fadeInOut" ng-if="login.twitter">
              <form name="twitterForm">
                <div class="form-group">
                  <label for="">Twitter Consumer Key (API Key)
                    <i class="ln-circle-question info" uib-tooltip="Please Enter your Twitter Consumer Key (API Key)" tooltip-placement="top" tooltip-trigger="mouseenter"></i></label>
                  <input type="text" name="twitterid" class="form-control" id="" ng-model="login.twitterCredentials.id" required>
                  <div class="error-msg" ng-show="twitterForm.twitterid.$error.required && twitterForm.twitterid.$touched">Please Enter Twitter Key.</div>
                </div>
                <div class="form-group">
                  <label for="">Twitter Consumer Secret (API Secret)
                    <i class="ln-circle-question info" uib-tooltip="Please Enter your Twitter Consumer Secret (API Secret)" tooltip-placement="top" tooltip-trigger="mouseenter"></i></label>
                  <input type="text" name="twittersecret" class="form-control" id="" ng-model="login.twitterCredentials.secret" required>
                  <div class="error-msg" ng-show="twitterForm.twittersecret.$error.required && twitterForm.twittersecret.$touched">Please Enter Twitter Secret.</div>
                </div>
              </form>
            </div>
          </div>

          <div class="google-login mt30">
            <div class="display-inline float-right">
              <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch6" ng-model="login.insta" ng-change="changeLoginForOther(login.insta)">
                <label class="onoffswitch-label" for="myonoffswitch6">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </div>
            </div>
            <div class="naming" ng-class="{'simple': !login.insta}">
              <h4>Instagram Login</h4>
            </div>
            <div class="form-login mt10 fadeInOut" ng-if="login.insta">
              <form name="instagramForm">
                <div class="form-group">
                  <label for="">Instagram Client ID
                    <i class="ln-circle-question info" uib-tooltip="Please Enter your Instagram Client ID" tooltip-placement="top" tooltip-trigger="mouseenter"></i>
                  </label>
                  <input type="text" name="instagramid" class="form-control" id="" ng-model="login.instaCredentials.id" required>
                  <div class="error-msg" ng-show="instagramForm.instagramid.$error.required && instagramForm.instagramid.$touched">Please Enter Instagram Client ID.</div>
                </div>
                <div class="form-group">
                  <label for="">Instagram Client Secret
                    <i class="ln-circle-question info" uib-tooltip="Please Enter your Instagram Client Secret" tooltip-placement="top" tooltip-trigger="mouseenter"></i>
                  </label>
                  <input type="text" name="instagramsecret" class="form-control" id="" ng-model="login.instaCredentials.secret" required>
                  <div class="error-msg" ng-show="instagramForm.instagramsecret.$error.required && instagramForm.instagramsecret.$touched">Please Enter Instagram Client Secret.</div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="upload-img text-right mt15">
          <button class="btn btn-primary btn-outline btn-small" ng-click="saveConfigData()">Save</button>
        </div>
        <!-- <div class="text-center">
          <p ng-show="showErrMsg">Please provide id(key) and/or secret</p>
        </div> -->
      </div>
    </div>
  </div>
</div>
