<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-7">
              <div class="ionic-template">
                <h4>Login & Signup Page</h4>
                <div class="row">
<div class="col-md-12">
  <div class="home-slider">
    <div class="naming">
      <h4>Set Login Signup</h4>
    </div>
    <div class="set-login">
      <div class="custom-login display-inline">
        <span>Use Custom Login & Signup</span>
      </div>
      <div class="display-inline">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
      </div>


    </div>
  </div>
  <div class="google-login">
    <div class="naming">
      <h4>Set Google Login</h4>
    </div>
    <div class="set-login">
      <div class="custom-login display-inline">
        <span>Use Google Login & Signup</span>
      </div>
      <div class="display-inline">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
      </div>
    </div>
    <div class="form-login">
<form action="">
  <div class="form-group">
    <label for="exampleInputName2">Google Client ID </label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputName2">Google Client secret</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
</form>
    </div>
  </div>
  <div class="google-login">
    <div class="naming">
      <h4>Set Facebook Login</h4>
    </div>
    <div class="set-login">
      <div class="custom-login display-inline">
        <span>Use Facebook Login & Signup</span>
      </div>
      <div class="display-inline">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
      </div>
    </div>
    <div class="form-login">
<form action="">
  <div class="form-group">
    <label for="exampleInputName2">Facebook App ID</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputName2">Facebook App Secret</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
</form>
    </div>
  </div>
  <div class="google-login">
    <div class="naming">
      <h4>Set Twitter Login</h4>
    </div>
    <div class="set-login">
      <div class="custom-login display-inline">
        <span>Use Twitter Login & Signup</span>
      </div>
      <div class="display-inline">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
      </div>
    </div>
    <div class="form-login">
<form action="">
  <div class="form-group">
    <label for="exampleInputName2">Twitter Consumer Key (API Key)</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputName2">Twitter Consumer Secret (API Secret)</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
</form>
    </div>
  </div>
  <div class="google-login">
    <div class="naming">
      <h4>Set Instagram Login</h4>
    </div>
    <div class="set-login">
      <div class="custom-login display-inline">
        <span>Use Instagram Login & Signup</span>
      </div>
      <div class="display-inline">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
      </div>
    </div>
    <div class="form-login">
<form action="">
  <div class="form-group">
    <label for="exampleInputName2">Instagram Client ID</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputName2">Instagram Client Secret</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
</form>
    </div>
  </div>
</div>
                </div>
              </div>
            </div>
            <div class="col-xs-5">
            <div class="preivew">
              <div class="app-prview">

              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
