<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-8">
              <div class="ionic-template mb30">
                <h4 class="pad20">Navigation</h4>
                <div class="row">
                  <div class="col-md-12">
                    <div class="home-slider form-background">
                      <div class="naming">
                        <h4>List of Navigations</h4>
                      </div>
                    </div>
                    <div class="detainavigation">
                      <div class="fill-content">
                        <div class="navigation">
                          <ul class="list-unstyled grouplist">
                            <li class="items" ng-repeat="items in navigation">
                              <div class="pull-right">
                                <a ui-sref="navigationdetail"><i class="ln-edit2 edit"></i></a>
                                <a ui-sref="navigationdetail"><i class="ln-trash2 delete"></i></a>
                              </div>
                              <i class="{{items.icon}} circle"></i>
                              <span class="nav-name pad-left">{{items.name}}</span>
                              <p class="pad-left">Enable</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="preivew">
                <div class="app-prview">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
