<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-7">
              <div class="ionic-template">
                <div class="row">
                  <div class="col-md-8">
                    <div class="home-slider">
                      <div class="naming">
                        <h4>Edit Notification</h4>
                      </div>
                    </div>
                    <div class="form-login">
                      <form action="">
                        <div class="form-group">
                          <label for="exampleInputName2">Name</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputFile">Image Icon:</label>
                          <input type="file" id="exampleInputFile">
                        </div>
                        <div class="or text-center">-or-</div>
                        <div class="icon">
                          <div class="form-group">
                            <label for="sel1">Select Icon:</label>
                            <select class="form-control" id="sel1">
                              <option>ln-chart-growth</option>
                              <option>ln-home3</option>
                              <option>ln-unlock</option>
                              <option>ln-bell</option>
                            </select>
                          </div>
                        </div>
                        <div class="display-inline">
                          <div class="label-opt">
                            <label for="exampleInputName2">Enable</label>
                          </div>
                          <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked="">
                            <label class="onoffswitch-label" for="myonoffswitch">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                            </label>
                          </div>
                        </div>
                        <div class="icon">
                          <div class="form-group">
                            <label for="sel1">List Type:</label>
                            <select  class="form-control">
                              <optgroup label="Main Menu">
                                <option value="volvo">Home</option>
                                <option value="saab">Saab</option>
                              </optgroup>
                              <optgroup label="Main Menu with Sub Menu">
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                              </optgroup>
                            </select>
                          </div>
                        </div>
                        <div class="icon">
                          <div class="form-group">
                            <label for="sel1">Select Inside:</label>
                            <select class="form-control" id="sel1">
                              <option>Gallery Inside1</option>
                              <option>Gallery Inside2</option>
                              <option>Gallery Inside3</option>
                              <option>Event Inside1</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputName2">External Link</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="External Link">
                        </div>
                        <div class="btn-group">
                          <button type="button" class="btn btn-info">Save</button>
                          <button type="button" class="btn btn-danger">Cancel</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-5">
              <div class="preivew">
                <div class="app-prview">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
