<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-7">
              <div class="ionic-template mb30">
                <h4 class="pad20">Notifications</h4>
                <div class="row">
                  <div class="col-md-8">
                    <div class="home-slider form-background">
                      <div class="naming">
                        <h4>Set Notification</h4>
                      </div>
                      <div class="set-login paddingup">
                        <div class="custom-login display-inline">
                          <span class="all-label">Notification Setting</span>
                        </div>
                        <div class="display-inline float-right">
                          <div class="setting-on ">
                            <a href=""><i class="ln-gear2 f20"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="google-login mt30">
                        <div class="form-login">
                          <form action="">
                            <div class="form-group">
                              <label for="exampleInputName2">Google Cloud Messaging(GCM) Server Key</label>
                              <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
<div class="form-background mt30">
                    <div class="google-login">
                      <div class="naming">
                        <h4>Send Notification</h4>
                      </div>
                      <div class="form-login paddingup">
                        <form action="">
                          <div class="form-group">
                            <label for="exampleInputName2">Title</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputFile">Upload image</label>
                            <input type="file" id="exampleInputFile">

                          </div>
                          <div class="form-group mt25">
                            <label for="exampleInputName2">Massage</label>
                            <textarea class="form-control resize" rows="3"></textarea>
                          </div>
                        </form>
                      </div>
                    </div>
</div>
                  </div>
                </div>
                <div class="form-background mt30">
                <div class="row">
                  <div class="col-md-12">
                    <div class="notification-list">
                      <div class="naming">
                        <h4>List Of Notification</h4>
                      </div>
                      <div class="notification-table mt30">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>
                                <div class="select">
                                  <span>Select All</span>
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                                    </label>
                                  </div>
                                </div>
                              </th>
                              <th>
                                <span>Title</span>
                              </th>
                              <th>
                                <span>Timestamp</span>
                              </th>
                              <th>
                                <span>Action</span>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <div class="select-check">
                                  <div class="checkbox">
                                    <label>
                                      <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                                    </label>
                                  </div>
                                </div>
                              </td>
                              <td>
                                <span>India Win By 8 Wicket</span>
                              </td>
                              <td>
                                <span>Thu, Dec 10 2015 </span>
                              </td>
                              <td>
                                <div class="action">
                                <a href="" ng-click="open()" class=""> <i class="ln-edit2 edit" ></i></a>
                                  <a href=""><i class="ln-trash2 delete"></i></a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="col-xs-5">
              <div class="preivew">
                <div class="app-prview">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
