<div class="max-size">
  <div class="ionic-template mb30">
    <h4 class="pad20">Photo Gallery >
          Create Photo Gallery</h4>
    <div class="row">
      <div class="col-md-12">
        <div class="home-slider form-background">
          <div class="naming">
            <div class="pull-right ">
              <a class="btn btn-primary btn-outline btn-small create-btn" href="#" target="_blank">Tutorials</a>
            </div>
            <h4>Create Photo Gallery</h4>
          </div>
          <div class="google-login paddingup">
            <div class="form-login">
              <form name="user">
                <div class="form-group">
                  <label for="">Photo Title</label>
                  <input type="text" class="form-control" id="" placeholder="Photo Title">
                </div>
                <div class="form-group">
                  <label for="">Status</label>
                  <select class="form-control">
                    <option>Enable</option>
                    <option>Disable</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="">Date</label>
                  <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                      alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
             <button type="button" class="btn btn-default" ng-click="open1()"><i class="ln ln-calendar"></i></button>
           </span>
                  </p>
                </div>
                <div class="img-upload">
                  <label for="">Upload Image</label>
                  <div class="slider-box">

                    <img src="img/slider/s1.jpg" class="img-responsive">
                  </div>
                  <div class="form-group">
                    <input type="file" id="exampleInputFile">

                  </div>
                </div>
                <div class="multiple-img">
                  <label for="">Upload Gallery Image</label>
                  <div class="image-set">
                    <div class="drop-image">
                      <a href="" ui-sref="photo-gallerydetail"> <img src="img/slider/s1.jpg"></a>
                    </div>
                    <div class="upload-img text-center">
                      <button class="btn btn-primary btn-outline btn-small">Upload Image</button>
                    </div>
                  </div>
                </div>
            </div>
            <div class="upload-img text-center">
              <button class="btn btn-primary btn-outline btn-small">Save</button>
              <button class="btn btn-primary btn-outline btn-small">Cancel</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
