<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-11">
              <div class="ionic-template mb30">
                <h4 class="pad20">Notifications</h4>
                <uib-tabset justified="true">
                  <uib-tab heading="App Information">
                    <div class="home-slider form-background">
                      <div class="naming">
                        <h4>App Information</h4>
                      </div>
                      <div class="google-login paddingup">
                        <div class="form-login">
                          <form action="">
                            <div class="row">
                              <div class="col-md-9">
                                <div class="row">
                                  <div class="col-md-9">
                                    <div class="form-group">
                                      <label for="exampleInputName2">App Name <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                      <input type="text" class="form-control" id="exampleInputName2" placeholder="App Name">
                                    </div>
                                  </div>
                                  <div class="col-md-3">
                                    <div class="form-group">
                                      <label for="exampleInputName2">App Icon Name <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                      <input type="text" class="form-control" id="exampleInputName2" placeholder="App Icon Name">
                                    </div>
                                  </div>
                                  <div class="col-md-12">
                                    <div class="form-group">
                                      <label for="exampleInputName2">App Keywords <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                      <input type="text" class="form-control" id="exampleInputName2" placeholder="App Keywords">
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label for="exampleInputFile">Upload App Icon</label>
                                  <div class="noti-image">
                                    <div class="img-box">
                                      <img src="img/slider/s1.jpg">
                                    </div>
                                  </div>
                                  <input type="file" id="exampleInputFile">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="exampleInputName2" style="margin-bottom:30px;">App Description <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                  <textarea type="text" class="form-control" id="exampleInputName2" placeholder="App Description"> </textarea>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="exampleInputName2" style="margin-bottom:0px;">What's new in this version</label>
                                  <label for="exampleInputName2">Use this field for app store update information, such as:</label>
                                  <textarea type="text" class="form-control" id="exampleInputName2" placeholder="App Keywords"> </textarea>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="exampleInputName2">Emails <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                  <input type="email" class="form-control" id="exampleInputName2" placeholder="Emails">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="exampleInputName2">Phone Number <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                  <input type="text" class="form-control" id="exampleInputName2" placeholder="Phone Numbers">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="exampleInputName2">Offical Websites <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                  <input type="text" class="form-control" id="exampleInputName2" placeholder="App Keywords">
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="exampleInputName2">Copyright <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                  <input type="email" class="form-control" id="exampleInputName2" placeholder="Emails">
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="exampleInputName2">App Category <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                  <select class="form-control">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label for="exampleInputName2">App Price <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                  <select class="form-control">
                                    <option value="volvo">Volvo</option>
                                    <option value="saab">Saab</option>
                                    <option value="mercedes">Mercedes</option>
                                    <option value="audi">Audi</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </uib-tab>
                  <uib-tab heading="APP Icon">
                    <div class="home-slider form-background">
                      <div class="naming">
                        <h4>APP Icon</h4>
                      </div>
                      <div class=" paddingup">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>
                    </div>
                  </uib-tab>
                  <uib-tab heading="Screen Shots">
                    <div class="home-slider form-background">
                      <div class="naming">
                        <h4>Screen Shots</h4>
                      </div>
                      <div class=" paddingup">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>
                    </div>
                  </uib-tab>
                  <uib-tab heading="Loading Screen">
                    <div class="home-slider form-background">
                      <div class="naming">
                        <h4>Loading Screen</h4>
                      </div>
                      <div class=" paddingup">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>
                    </div>
                  </uib-tab>
                </uib-tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
