<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-11">
              <div class="ionic-template mb30">
                <h4 class="pad20">Notifications</h4>
                <uib-tabset justified="true">
                  <uib-tab heading="App Information">
                    <div class="home-slider form-background">
                      <div class="naming">
                        <h4>App Information</h4>
                      </div>
                      <div class="google-login paddingup">
                        <div class="form-login">
                          <form action="">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="exampleInputName2">App Name</label>
                                  <input type="text" class="form-control" id="exampleInputName2" placeholder="App Name">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label for="exampleInputName2">App Name</label>
                                  <input type="text" class="form-control" id="exampleInputName2" placeholder="App Name">
                                </div>
                              </div>
                          </form>
                          </div>
                        </div>
                      </div>
                    </div>
              </uib-tab>
              <uib-tab heading="APP Icon">
                <div class="home-slider form-background">
                  <div class="naming">
                    <h4>APP Icon</h4>
                  </div>
                  <div class=" paddingup">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
              </uib-tab>
              <uib-tab heading="Screen Shots">
                <div class="home-slider form-background">
                  <div class="naming">
                    <h4>Screen Shots</h4>
                  </div>
                  <div class=" paddingup">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
              </uib-tab>
              <uib-tab heading="Loading Screen">
                <div class="home-slider form-background">
                  <div class="naming">
                    <h4>Loading Screen</h4>
                  </div>
                  <div class=" paddingup">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
                </div>
              </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
