<section class="main">
  <div class="theme scrollbars">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="ionic-template mb30">
              <div class="pull-right pd20">
                 <a class="btn btn-primary btn-outline btn-small create-btn" href="#" target="_blank">Tutorials</a>
              </div>
              <h4 class="pad20">PUBLISHING</h4>
              <uib-tabset justified="true">
                <uib-tab heading="App Information">
                  <div class="home-slider form-background">
                    <div class="pull-right "><a class="btn btn-primary btn-outline btn-small create-btn" href="#" target="_blank">Tutorials</a></div>
                    <div class="naming">
                      <h4>App Information</h4>
                    </div>
                    <div class="google-login paddingup">
                      <div class="form-login">
                        <form action="">
                          <div class="row">
                            <div class="col-md-9">
                              <div class="row">
                                <div class="col-md-9">
                                  <div class="form-group">
                                    <label for="">App Name <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                    <input type="text" class="form-control" id="" placeholder="App Name">
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <div class="form-group">
                                    <label for="">App Icon Name <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                    <input type="text" class="form-control" id="" placeholder="App Icon Name">
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="">App Keywords <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                    <input type="text" class="form-control" id="" placeholder="App Keywords">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="exampleInputFile">Upload App Icon</label>
                                <div class="noti-image">
                                  <div class="img-box-icon">
                                    <img src="img/slider/s1.jpg">
                                    <input type="file" id="exampleInputFile">
                                  </div>
                                  <span class="label">PNG Format: 1024 x 1024px</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="" style="margin-bottom:30px;">App Description <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                <textarea type="text" class="form-control" id="" placeholder="App Description" rows="4"> </textarea>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for="" style="margin-bottom:0px;">What's new in this version</label>
                                <label for="">Use this field for app store update information, such as:</label>
                                <textarea type="text" class="form-control" id="" placeholder="App Keywords" rows="4"> </textarea>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="">Emails <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                <input type="email" class="form-control" id="" placeholder="Emails">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="">Phone Number <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                <input type="text" class="form-control" id="" placeholder="Phone Numbers">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="">Offical Websites <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                <input type="text" class="form-control" id="" placeholder="App Keywords">
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="">Copyright <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                <input type="email" class="form-control" id="" placeholder="Emails">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="">App Category <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                <select name="apple_app_category" id="apple_app_category" class="form-control">
                                  <option value="">Select category</option>
                                  <option value="Books">Books</option>
                                  <option value="Business">Business</option>
                                  <option value="Catalogs">Catalogs</option>
                                  <option value="Education" selected="">Education</option>
                                  <option value="Entertainment">Entertainment</option>
                                  <option value="Finance">Finance</option>
                                  <option value="Food &amp; Drink">Food &amp; Drink</option>
                                  <option value="Games">Games</option>
                                  <option value="Health &amp; Fitness">Health &amp; Fitness</option>
                                  <option value="Lifestyle">Lifestyle</option>
                                  <option value="Magazines &amp; Newspapers">Magazines &amp; Newspapers</option>
                                  <option value="Medical">Medical</option>
                                  <option value="Music">Music</option>
                                  <option value="Navigation">Navigation</option>
                                  <option value="News">News</option>
                                  <option value="Photo &amp; Video">Photo &amp; Video</option>
                                  <option value="Productivity">Productivity</option>
                                  <option value="Reference">Reference</option>
                                  <option value="Shopping">Shopping</option>
                                  <option value="Social Networking">Social Networking</option>
                                  <option value="Sports">Sports</option>
                                  <option value="Travel">Travel</option>
                                  <option value="Utilities">Utilities</option>
                                  <option value="Weather">Weather</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label for="">App Price <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                <select name="app_price" class="form-control">
                                  <option value="0">Free</option>
                                  <option value="0.99">0.99</option>
                                  <option value="1.99">1.99</option>
                                  <option value="2.99">2.99</option>
                                  <option value="3.99">3.99</option>
                                  <option value="4.99">4.99</option>
                                  <option value="5.99">5.99</option>
                                  <option value="6.99">6.99</option>
                                  <option value="7.99">7.99</option>
                                  <option value="8.99">8.99</option>
                                  <option value="9.99">9.99</option>
                                  <option value="10.99">10.99</option>
                                  <option value="11.99">11.99</option>
                                  <option value="12.99">12.99</option>
                                  <option value="13.99">13.99</option>
                                  <option value="14.99">14.99</option>
                                  <option value="15.99">15.99</option>
                                  <option value="16.99">16.99</option>
                                  <option value="17.99">17.99</option>
                                  <option value="18.99">18.99</option>
                                  <option value="19.99">19.99</option>
                                  <option value="20.99">20.99</option>
                                  <option value="21.99">21.99</option>
                                  <option value="22.99">22.99</option>
                                  <option value="23.99">23.99</option>
                                  <option value="24.99">24.99</option>
                                  <option value="25.99">25.99</option>
                                  <option value="26.99">26.99</option>
                                  <option value="27.99">27.99</option>
                                  <option value="28.99">28.99</option>
                                  <option value="29.99">29.99</option>
                                  <option value="30.99">30.99</option>
                                  <option value="31.99">31.99</option>
                                  <option value="32.99">32.99</option>
                                  <option value="33.99">33.99</option>
                                  <option value="34.99">34.99</option>
                                  <option value="35.99">35.99</option>
                                  <option value="36.99">36.99</option>
                                  <option value="37.99">37.99</option>
                                  <option value="38.99">38.99</option>
                                  <option value="39.99">39.99</option>
                                  <option value="40.99">40.99</option>
                                  <option value="41.99">41.99</option>
                                  <option value="42.99">42.99</option>
                                  <option value="43.99">43.99</option>
                                  <option value="44.99">44.99</option>
                                  <option value="45.99">45.99</option>
                                  <option value="46.99">46.99</option>
                                  <option value="47.99">47.99</option>
                                  <option value="48.99">48.99</option>
                                  <option value="49.99">49.99</option>
                                  <option value="54.99">54.99</option>
                                  <option value="59.99">59.99</option>
                                  <option value="64.99">64.99</option>
                                  <option value="69.99">69.99</option>
                                  <option value="74.99">74.99</option>
                                  <option value="79.99">79.99</option>
                                  <option value="84.99">84.99</option>
                                  <option value="89.99">89.99</option>
                                  <option value="94.99">94.99</option>
                                  <option value="99.99">99.99</option>
                                  <option value="109.99">109.99</option>
                                  <option value="119.99">119.99</option>
                                  <option value="124.99">124.99</option>
                                  <option value="129.99">129.99</option>
                                  <option value="139.99">139.99</option>
                                  <option value="149.99">149.99</option>
                                  <option value="159.99">159.99</option>
                                  <option value="169.99">169.99</option>
                                  <option value="174.99">174.99</option>
                                  <option value="179.99">179.99</option>
                                  <option value="189.99">189.99</option>
                                  <option value="199.99">199.99</option>
                                  <option value="209.99">209.99</option>
                                  <option value="219.99">219.99</option>
                                  <option value="229.99">229.99</option>
                                  <option value="239.99">239.99</option>
                                  <option value="249.99">249.99</option>
                                  <option value="299.99">299.99</option>
                                  <option value="349.99">349.99</option>
                                  <option value="399.99">399.99</option>
                                  <option value="449.99">449.99</option>
                                  <option value="499.99">499.99</option>
                                  <option value="599.99">599.99</option>
                                  <option value="699.99">699.99</option>
                                  <option value="799.99">799.99</option>
                                  <option value="899.99">899.99</option>
                                  <option value="999.99">999.99</option>
                                </select>
                              </div>
                            </div>
                          </div>



                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label for=""> Default Language <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i></label>
                                <select id="app_default_language" name="app_default_language" class="form-control">
                                  <option value="">Select language</option>
                                  <option value="Australian English" selected="">Australian English</option>
                                  <option value="Brazilian Portugese">Brazilian Portugese (Português do Brasil)</option>
                                  <option value="Canadian English">Canadian English</option>
                                  <option value="Canadian French">Canadian French (français canadien)</option>
                                  <option value="Danish">Danish (dansk)</option>
                                  <option value="Dutch">Dutch (Flemish)</option>
                                  <option value="Finnish">Finnish (Suomen kieli)</option>
                                  <option value="French">French (le français)</option>
                                  <option value="German">German (Deutsch)</option>
                                  <option value="Greek">Greek (ελληνικά)</option>
                                  <option value="Indonesian">Indonesian (Bahasa Indonesia)</option>
                                  <option value="Italian">Italian (Italiano)</option>
                                  <option value="Japanese">Japanese (日本語)</option>
                                  <option value="Korean">Korean (한국어)</option>
                                  <option value="Malay">Malay (بهاس ملايو)</option>
                                  <option value="Mexican">Mexican</option>
                                  <option value="Norwegian">Norwegian (norsk)</option>
                                  <option value="Portuguese">Portuguese (português)</option>
                                  <option value="Russian">Russian (русский)</option>
                                  <option value="Simplified Chinese">Simplified Chinese (中文 简体)</option>
                                  <option value="Spanish">Spanish (español)</option>
                                  <option value="Swedish">Swedish</option>
                                  <option value="Thai">Thai (ภาษาไทย)</option>
                                  <option value="Traditional Chinese">Traditional Chinese (中文 繁體)</option>
                                  <option value="Turkish">Turkish (Türkçe)</option>
                                  <option value="UK English">UK English</option>
                                  <option value="US English">US English</option>
                                  <option value="Vietnamese">Vietnamese (Tiếng Việt)</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <div class="checkbox checkbox-box mt29">
                                  <label>
                                    <input type="checkbox"> Disable ALL commenting ability in your application
                                    <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>



                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Check this box to enable music or audio to play in the background of your app. This will allow you to navigate through your device with the audio still playing.
                                </label>
                                <label>
                                  <input type="checkbox"> Audio Background Play
                                  <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i>
                                </label>
                                <!-- <label>
                                    <i class="ln-circle-question info" uib-popover="I appeared on mouse enter!" popover-trigger="mouseenter"></i> Adjust your App Store content rating
                                    <a href="#">HERE</a>
                                  </label> -->
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Please enter your Google Plus client ID here. You will also need to create a separate client id for Android. Only the iOS Client ID is needed here. (Removed as of December 2016)</label>
                                <input type="text" class="form-control" placeholder="Goolgle Client ID">
                              </div>
                            </div>
                          </div>
                          <div class="btn-grp">
                            <button class="btn btn-primary btn-outline">
                              Save Changes
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab heading="APP Store Content">
                  <div class="home-slider form-background">
                    <div class="naming">
                      <h4>APP STORE CONTENT</h4>
                    </div>
                    <div class=" paddingup">
                      <div class="box_white">
                        <table border="0" cellspacing="2" cellpadding="3" width="100%" class="full_layout">
                          <tbody>
                            <tr class="row1">
                              <th width="50%">Apple Content Descriptions</th>
                              <th width="15%">None</th>
                              <th width="15%">Infrequent/Mild</th>
                              <th width="20%">Frequent/intense</th>
                            </tr>

                            <tr class="row2">
                              <td>Cartoon or Fantasy Violence</td>
                              <td>
                                <input type="radio" name="cartoon_or_fantasy" value="0" checked="">
                              </td>
                              <td>
                                <input type="radio" name="cartoon_or_fantasy" value="1">
                              </td>
                              <td>
                                <input type="radio" name="cartoon_or_fantasy" value="2">
                              </td>
                            </tr>
                            <tr class="row1">
                              <td>Realistic Violence</td>
                              <td>
                                <input type="radio" name="realistic" value="0" checked="">
                              </td>
                              <td>
                                <input type="radio" name="realistic" value="1">
                              </td>
                              <td>
                                <input type="radio" name="realistic" value="2">
                              </td>
                            </tr>
                            <tr class="row2">
                              <td>Prolonged Graphic or Sadistic Realistic Violence</td>
                              <td>
                                <input type="radio" name="prolonged" value="0" checked="">
                              </td>
                              <td>
                                <input type="radio" name="prolonged" value="1">
                              </td>
                              <td>
                                <input type="radio" name="prolonged" value="2">
                              </td>
                            </tr>

                            <tr class="row1">
                              <td>Profanity or Crude Humor</td>
                              <td>
                                <input type="radio" name="profanity" value="0" checked="">
                              </td>
                              <td>
                                <input type="radio" name="profanity" value="1">
                              </td>
                              <td>
                                <input type="radio" name="profanity" value="2">
                              </td>
                            </tr>
                            <tr class="row2">
                              <td>Mature/Suggestive Themes</td>
                              <td>
                                <input type="radio" name="mature" value="0" checked="">
                              </td>
                              <td>
                                <input type="radio" name="mature" value="1">
                              </td>
                              <td>
                                <input type="radio" name="mature" value="2">
                              </td>
                            </tr>
                            <tr class="row1">
                              <td class="saparate">Horror/Fear Themes</td>
                              <td class="saparate">
                                <input type="radio" name="horror" value="0" checked="">
                              </td>
                              <td class="saparate">
                                <input type="radio" name="horror" value="1">
                              </td>
                              <td class="saparate">
                                <input type="radio" name="horror" value="2">
                              </td>
                            </tr>

                            <tr class="row2">
                              <td>Medical/Treatment Information</td>
                              <td>
                                <input type="radio" name="medical" value="0" checked="">
                              </td>
                              <td>
                                <input type="radio" name="medical" value="1">
                              </td>
                              <td>
                                <input type="radio" name="medical" value="2">
                              </td>
                            </tr>
                            <tr class="row1">
                              <td>Alcohol, Tobacoo, or Drug Use or Reference</td>
                              <td>
                                <input type="radio" name="alcohol" value="0" checked="">
                              </td>
                              <td>
                                <input type="radio" name="alcohol" value="1">
                              </td>
                              <td>
                                <input type="radio" name="alcohol" value="2">
                              </td>
                            </tr>
                            <tr class="row2">
                              <td>Simulated Gambling</td>
                              <td>
                                <input type="radio" name="simulated" value="0" checked="">
                              </td>
                              <td>
                                <input type="radio" name="simulated" value="1">
                              </td>
                              <td>
                                <input type="radio" name="simulated" value="2">
                              </td>
                            </tr>


                            <tr class="row1">
                              <td>Sexual Content or Nudity</td>
                              <td>
                                <input type="radio" name="sexual_content" value="0" checked="">
                              </td>
                              <td>
                                <input type="radio" name="sexual_content" value="1">
                              </td>
                              <td>
                                <input type="radio" name="sexual_content" value="2">
                              </td>
                            </tr>
                            <tr class="row2">
                              <td class="saparate">Graphic Sexual Content and Nudity</td>
                              <td class="saparate">
                                <input type="radio" name="graphic" value="0" checked="">
                              </td>
                              <td class="saparate">
                                <input type="radio" name="graphic" value="1">
                              </td>
                              <td class="saparate">
                                <input type="radio" name="graphic" value="2">
                              </td>
                            </tr>
                            <tr>
                              <th></th>
                              <th>No</th>
                              <th>Yes</th>
                              <th></th>
                            </tr>
                            <tr class="row1">
                              <td>Unrestricted Web Access</td>
                              <td>
                                <input type="radio" name="unrestricted" value="0" checked="">
                              </td>
                              <td>
                                <input type="radio" name="unrestricted" value="1">
                              </td>
                              <td></td>
                            </tr>
                            <tr class="row2">
                              <td>Gambling and Contents</td>
                              <td>
                                <input type="radio" name="gambling" value="0" checked="">
                              </td>
                              <td>
                                <input type="radio" name="gambling" value="1">
                              </td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="btn-grp">
                          <button class="btn btn-primary btn-outline">
                            Save Changes
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab heading="Screen Shots">
                  <div class="home-slider form-background">
                    <div class=" paddingup">
                      <div class="naming">
                        <h4>Screen Shots</h4>
                      </div>
                      <uib-tabset active="activeJustified" justified="true">
                        <uib-tab index="0" heading="iphone4" class="paddingup">
                          <div class="paddingup">
                            <div class="iphone-screenshot min-hight">
                              <div class="head">
                                <p>Upload a custom screen shot for your iPhone 4 app.</p>
                                <p>5 screen shots Maximum</p>
                                <p>640x960px in PNG Format</p>
                              </div>
                              <div class="or">- or -</div>
                              <div class="head">
                                <p class="pd5">Genrate high resolution screenShot with just click of a button</p>
                                <div class="btn-grp">
                                  <button class="btn btn-primary btn-outline">
                                    Generate
                                  </button>
                                </div>
                              </div>
                              <div class="wrapper-iphone">
                                <div class="iphone" ui-sortable ng-model="lists">
                                  <div class="iphone-upload iphone-upload-screen" ng-repeat="item in lists">
                                    <div class="image-hold">
                                      <img ng-src="{{item.image}}" alt="" class="drop-image" />
                                    </div>
                                    <div class="text-center mr10">
                                      <button class="btn btn-danger btn-outline btn-small">delete</button>
                                    </div>
                                  </div>

                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </uib-tab>
                        <uib-tab index="1" heading="iphone5">
                          <div class="paddingup">
                            <div class="iphone-screenshot min-hight">
                              <div class="head">
                                <p>Upload a custom screen shot for your iPhone 5 app.</p>
                                <p>5 screen shots Maximum</p>
                                <p>640x1136px in PNG Format</p>
                              </div>
                              <div class="or">- or -</div>
                              <div class="head">
                                <p class="pd5">Genrate high resolution screenShot with just click of a button</p>
                                <div class="btn-grp">
                                  <button class="btn btn-primary btn-outline">
                                    Generate
                                  </button>
                                </div>
                              </div>
                              <div class="wrapper-iphone">
                                <div class="iphone">
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <!-- <div class="upload-text text-center">
                                        <i class="ln-circle-plus"></i>
                                        <br> Select
                                      </div> -->
                                    <img src="img/t1.jpg" alt="" />
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </uib-tab>
                        <uib-tab index="2" heading="iphone6">
                          <div class="paddingup">
                            <div class="iphone-screenshot min-hight">
                              <div class="head">
                                <p>Upload a custom screen shot for your iPhone 6 app.</p>
                                <p>5 screen shots Maximum</p>
                                <p>750x1334px in PNG Format</p>
                              </div>
                              <div class="or">- or -</div>
                              <div class="head">
                                <p class="pd5">Genrate high resolution screenShot with just click of a button</p>
                                <div class="btn-grp">
                                  <button class="btn btn-primary btn-outline">
                                    Generate
                                  </button>
                                </div>
                              </div>
                              <div class="wrapper-iphone">
                                <div class="iphone">
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </uib-tab>
                        <uib-tab index="2" heading="iphone6 Plus">
                          <div class="paddingup">
                            <div class="iphone-screenshot min-hight">
                              <div class="head">
                                <p>Upload a custom screen shot for your iPhone 6 Plus app.</p>
                                <p>5 screen shots Maximum</p>
                                <p>1536x2048px in PNG Format</p>
                              </div>
                              <div class="or">- or -</div>
                              <div class="head">
                                <p class="pd5">Genrate high resolution screenShot with just click of a button</p>
                                <div class="btn-grp">
                                  <button class="btn btn-primary btn-outline">
                                    Generate
                                  </button>
                                </div>
                              </div>
                              <div class="wrapper-iphone">
                                <div class="iphone">
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <!-- <i class="ln-circle-plus"></i>
                                        <br> Select -->
                                      <img src="img/t1.jpg" alt="" />
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </uib-tab>
                        <uib-tab index="2" heading="Tablet">
                          <div class="paddingup">
                            <div class="iphone-screenshot min-hight">
                              <div class="head">
                                <p>Upload a custom screen shot for your Tablet app.</p>
                                <p>5 screen shots Maximum</p>
                                <p>1536x2048px in PNG Format</p>
                              </div>
                              <div class="or">- or -</div>
                              <div class="head">
                                <p class="pd5">Genrate high resolution screenShot with just click of a button</p>
                                <div class="btn-grp">
                                  <button class="btn btn-primary btn-outline">
                                    Generate
                                  </button>
                                </div>
                              </div>
                              <div class="wrapper-iphone">
                                <div class="iphone">
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                  <div class="iphone-upload iphone-upload-screen" ng-click="openscreenshot()">
                                    <!-- <input type="file" class="form-control"> -->
                                    <div class="upload-text text-center">
                                      <i class="ln-circle-plus"></i>
                                      <br> Select
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </uib-tab>
                      </uib-tabset>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab heading="Loading Screen">
                  <div class="home-slider form-background">
                    <div class="naming">
                      <h4>Loading Screen</h4>
                    </div>
                    <div class=" paddingup">
                      <uib-tabset active="activeJustified" justified="true">
                        <uib-tab index="0" heading="iphone">
                          <div class="row paddingup">
                            <div class="col-md-6">
                              <div class="head">
                                <p>Upload a splash loading screen. This is the first image that appears when your app is launched.</p>
                                <p>PNG Format: 640x1136px</p>
                              </div>
                              <div class="or">- or -</div>
                              <div class="head">
                                <p class="pd5">Genrate high resolution screenShot with just click of a button</p>
                                <div class="btn-grp">
                                  <button class="btn btn-primary btn-outline">
                                    Generate
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="paddingup">
                                <div class="iphone-screenshot min-hight">
                                  <div class="wrapper-iphone">
                                    <div class="iphone-upload iphone-upload-loading" ng-click="openscreenshot()">
                                      <!-- <input type="file" class="form-control"> -->
                                      <div class="upload-text text-center">
                                        <i class="ln-circle-plus"></i>
                                        <br> Select
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </uib-tab>
                        <uib-tab index="0" heading="Tablet" class="">
                          <div class="row paddingup">
                            <div class="col-md-6">
                              <div class="head">
                                <p>Upload a splash loading screen. This is the first image that appears when your app is launched.</p>
                                <p>1536x2048px in PNG Format</p>
                              </div>
                              <div class="or">- or -</div>
                              <div class="head">
                                <p class="pd5">Genrate high resolution screenShot with just click of a button</p>
                                <div class="btn-grp">
                                  <button class="btn btn-primary btn-outline">
                                    Generate
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="paddingup">
                                <div class="iphone-screenshot min-hight">
                                  <div class="wrapper-iphone">
                                    <div class="iphone-upload iphone-upload-loading" ng-click="openscreenshot()">
                                      <!-- <input type="file" class="form-control"> -->
                                      <div class="upload-text text-center">
                                        <i class="ln-circle-plus"></i>
                                        <br> Select
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </uib-tab>
                      </uib-tabset>
                    </div>
                </uib-tab>
              </uib-tabset>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
