<div class="config">
  <section class="main">
    <div class="theme">
      <div class="chosse-theme">
        <div class="container-fluid">
          <div class="">
            <div class="row">
              <div class="col-xs-7">
                <div class="ionic-template">
                  <h4>Configuration > Search</h4>
                  <div class="row">
                    <div class="col-md-10">
                      <h4>Search</h4>
                      <label>Please Enable Search</label>
                      <form action="">
                        <div class="checkbox" ng-repeat="items in navigation">
                          <label>
                            <input type="checkbox" value="">{{items.name}}</label>
                        </div>
                        <div class="upload-img text-center">
                          <button class="btn btn-primary btn-outline btn-small">Save</button>
                          <button class="btn btn-primary btn-outline btn-small">Reset</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
</div>
