<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-7">
              <div class="ionic-template">
                <h4>Choose Your Template</h4>
                <div class="row">
                  <div class="col-md-4">
                    <div class="template-box text-center">
                      <div class="templat-bk">
                    <div class="template-des">
                      <img src="img/t1.jpg" class="img-responsive">

                    </div>

                    </div>
                    <div class="template-name">
                      <span>Selig Wordpress</span>
                    </div>

                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="template-box text-center">
                      <div class="templat-bk">
                    <div class="template-des">
                      <img src="img/t2.jpg" class="img-responsive">
                    </div>
                    </div>
                    <div class="template-name">
                      <span>Selig Wordpress</span>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="template-box text-center">
                      <div class="templat-bk">
                    <div class="template-des">
                      <img src="img/t3.jpg" class="img-responsive">
                    </div>
                    </div>
                    <div class="template-name">
                      <span>Selig Wordpress</span>
                    </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-5">
            <div class="preivew">
              <div class="app-prview">

              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
