<div class="max-size">
  <div class="ionic-template mb30">
    <div class="pull-right pd20">
       <a class="btn btn-primary btn-outline btn-small create-btn" href="#" target="_blank">Tutorials</a>
    </div>
    <h4 class="pad20">Choose Your Template</h4>
    <div class="row">
      <div class="col-md-4">
        <div class="template-box text-center">
          <div class="templat-bk">
            <div class="template-des">
              <img src="img/t1.jpg" class="img-responsive">
            </div>
          </div>
          <div class="template-name">
            <span>Selig Wordpress</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="template-box text-center">
          <div class="templat-bk">
            <div class="template-des">
              <img src="img/t2.jpg" class="img-responsive">
            </div>
          </div>
          <div class="template-name">
            <span>Selig Wordpress</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="template-box text-center">
          <div class="templat-bk">
            <div class="template-des">
              <img src="img/t3.jpg" class="img-responsive">
            </div>
          </div>
          <div class="template-name">
            <span>Selig Wordpress</span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
