<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-8 max-size">
              <div class="ionic-template mb30">
                <h4 class="pad20">Users > Edit User</h4>
                <div class="row">
                  <div class="col-md-12">
                    <div class="home-slider form-background">
                      <div class="naming">
                        <h4>Edit User</h4>
                      </div>
                      <form action="">
                        <div class="form-group">
                          <label for="exampleInputName2">Name</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputName2">Email id</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="Email id">
                        </div>
                        <!-- <div class="form-group">
                            <label for="exampleInputName2">Password</label>
                            <input type="password" class="form-control" id="exampleInputName2" placeholder="Email id">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">New Password</label>
                            <input type="password" class="form-control" id="exampleInputName2" placeholder="Email id">
                          </div> -->
                        <div class="icon">
                          <div class="form-group">
                            <label for="sel1">Login Type</label>
                            <select class="form-control" id="sel1">
                              <option>Facebook</option>
                              <option>Twitter</option>
                              <option>Instagram</option>
                              <option>Google +</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputName2">Social Id</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="Social Id">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputName2">Contact</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="Contact">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputName2">Access Level</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="Access Level">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputName2">Address</label>
                          <textarea name="name" class="form-control" ui-tinymce ng-model="tinymceModel"></textarea>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputFile">Profile Image</label>
                          <div class="noti-image">
                            <div class="img-box">
                              <img src="img/slider/s1.jpg" class="doneLoading">
                            </div>
                          </div>
                          <input type="file" id="exampleInputFile">

                        </div>
                        <div class="form-group">
                          <label for="exampleInputFile">Cover Image</label>
                          <div class="noti-image">
                            <div class="img-box">
                              <img src="img/slider/s1.jpg" class="doneLoading">
                            </div>
                          </div>
                          <input type="file" id="exampleInputFile">

                        </div>
                        <div class="upload-img text-center">
                          <button class="btn btn-primary">Save</button>
                          <button class="btn btn-primary">Cancel</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="preivew">
                <div class="app-prview">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
