<div class="max-size">
   <div class="ionic-template mb30">
      <div class="pull-right pd20">
         <a class="btn btn-primary btn-outline btn-small create-btn" href="#" target="_blank">Tutorials</a>
      </div>
      <h4 class="pad20">Users  <i class="fa fa-angle-right"></i>  {{page.header}}</h4>
      <div class="row">
         <div class="col-md-12">
            <div class="home-slider form-background">
               <div class="naming">
                  <h4> {{page.header}}</h4>
               </div>
               <div class="paddingup">
                  <form name="user" ng-submit="userSubmitForm(user)">
                     <div class="form-group">
                        <label for="">Name</label>
                        <input name="name" required ng-model="userForm.name" type="text" class="form-control" id="" placeholder="Name">
                        <div class="error-msg" ng-show="user.name.$error.required && user.name.$touched">Please Enter Your Name</div>
                     </div>
                     <div class="form-group">
                        <label for="">Email id</label>
                        <input name="email" required ng-model="userForm.email" type="email" class="form-control" id="" placeholder="Email id">
                        <div class="error-msg" ng-show="user.email.$error.required && user.email.$touched">Please Enter Your Email id</div>
                     </div>
                     <div class="form-group">
                        <label for="">Password</label>
                        <input type="password" ng-model="userForm.password" class="form-control" placeholder="Password" required>
                     </div>
                     <div class="icon" ng-hide="hideSocial">
                        <div class="form-group">
                           <label for="sel1">Login Type</label>
                           <select name="loginTypes" ng-model="userForm.loginType" class="form-control" id="sel1" required>
                              <option value="">Select Login Type</option>
                              <option value="Normal">Normal</option>
                              <option value="Facebook">Facebook</option>
                              <option value="Twitter">Twitter</option>
                              <option value="Instagram">Instagram</option>
                              <option value="Google+">Google+</option>
                           </select>
                        </div>
                     </div>
                     <div class="form-group" ng-hide="hideSocial">
                        <label for="">Social Id</label>
                        <input name="socialId" ng-model="userForm.socialId" type="text" class="form-control" id="" placeholder="Social Id">
                        <div class="error-msg" ng-show="user.socialId.$error.required && user.socialId.$touched">Please Enter Your Social Id</div>
                     </div>
                     <div class="form-group">
                        <label for="">Address</label>
                        <textarea name="address" ng-model="userForm.address" class="form-control"></textarea>
                        <div class="error-msg" ng-show="user.address.$error.required && user.address.$touched">Please Enter Your Address</div>
                     </div>
                     <div class="form-group">
                        <label for="exampleInputFile">Profile Image</label>
                        <div class="noti-image">
                           <div class="img-box">
                              <h4 ng-if="isloading">Loading...</h4>
                              <img ng-src="{{userForm.profilePic|uploadpath}}" ng-if="userForm.profilePic">
                              <!-- <img src="img/slider/s1.jpg" class="doneLoading"> -->
                           </div>
                        </div>
                        <upload-image ng-model="userForm.profilePic" no-view></upload-image>
                     </div>
                     <div class="form-group">
                        <label for="exampleInputFile">Cover Image</label>
                        <div class="noti-image">
                           <div class="img-box">
                              <h4 ng-if="isloading">Loading...</h4>
                              <img ng-src="{{userForm.bannerPic|uploadpath}}" ng-if="userForm.bannerPic">
                              <!-- <img src="img/slider/s1.jpg" class="doneLoading"> -->
                           </div>
                        </div>
                        <upload-image ng-model="userForm.bannerPic" no-view></upload-image>
                     </div>
                     <div class="upload-img text-right">
                        <button type="submit" class="btn btn-primary btn-outline btn-small">Save</button>
                        <a ui-sref="users">
                           <button class="btn btn-danger btn-outline btn-small">Cancel</button>
                        </a>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
