<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-7">
              <div class="ionic-template">
                <h4>Users > Edit Users</h4>
                <div class="row">
                  <div class="col-md-8">
                    <div class="home-slider">
                      <div class="naming">
                        <h4>Edit Users</h4>
                      </div>
                    </div>
                    <div class="google-login">
                      <div class="form-login">
                        <form action="">
                          <div class="form-group">
                            <label for="exampleInputName2">Name</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Name">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">Email id</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Email id">
                          </div>
                          <!-- <div class="form-group">
                            <label for="exampleInputName2">Password</label>
                            <input type="password" class="form-control" id="exampleInputName2" placeholder="Email id">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">New Password</label>
                            <input type="password" class="form-control" id="exampleInputName2" placeholder="Email id">
                          </div> -->
                          <div class="icon">
                            <div class="form-group">
                              <label for="sel1">Login Type</label>
                              <select class="form-control" id="sel1">
                                <option>Facebook</option>
                                <option>Twitter</option>
                                <option>Instagram</option>
                                <option>Google +</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">Social Id</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Social Id">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">Contact</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Contact">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">Access Level</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="Access Level">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">Address</label>
                            <textarea name="name" class="form-control" ui-tinymce ng-model="tinymceModel"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">Profile Image</label>
                            <input type="file">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputName2">Cover Image</label>
                            <input type="file">
                          </div>
                          <div class="upload-img text-center">
                            <button class="btn btn-primary">Save</button>
                            <button class="btn btn-primary">Cancel</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-5">
              <div class="preivew">
                <div class="app-prview">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
