<section class="main">
  <div class="theme">
    <div class="chosse-theme">
      <div class="container-fluid">
        <div class="">
          <div class="row">
            <div class="col-xs-7">
              <div class="ionic-template">
                <h4>Video Gallery</h4>
                <div class="row">
                  <div class="col-md-12">
                    <div class="home-slider">
                      <div class="naming">
                        <h4>Set Video Gallery</h4>
                      </div>
                      <div class="create-event pull-right">
                        <button class="btn btn-primary" ui-sref="video-gallerydetail">Create Category</button>
                      </div>
                      <div class="image-set">
                        <div class="drop-image">
                        <a href="" ui-sref="video-gallerydetail"> <img src="img/slider/s1.jpg"></a>
                        </div>
                        <!-- <div class="upload-img text-center">
                          <button class="btn btn-primary">Upload Image</button>
                        </div> -->
                      </div>
                    </div>

                  </div>
                </div>
            </div>
            <div class="col-xs-5">
              <div class="preivew">
                <div class="app-prview">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
