<div class="max-size">
   <div class="ionic-template mb30">
      <div class="pull-right pd20">
         <a class="btn btn-primary btn-outline btn-small create-btn" href="#" target="_blank">Tutorials</a>
      </div>
      <h4 class="pad20">Video Gallery > {{header.name}}</h4>
      <div class="row">
         <div class="col-md-12">
            <div class="home-slider form-background">
               <div class="naming">
                  <h4>{{header.name}}</h4>
               </div>
               <div class="google-login paddingup">
                  <div class="form-login">
                     <form name="user">
                        <div class="form-group">
                           <label for="">Category Title</label>
                           <input name="name" required ng-model="userForm.title" type="text" class="form-control" id="" placeholder="Category Title">
                           <div class="error-msg" ng-show="user.name.$error.required && user.name.$touched">Please Enter Category Title.</div>
                        </div>
                        <div class="form-group">
                           <label for="">Category Order</label>
                           <input name="order" required ng-model="userForm.order" type="text" class="form-control" id="" placeholder="Category Order">
                           <div class="error-msg" ng-show="user.order.$error.required && user.order.$touched">Please Enter Category Title.</div>
                        </div>
                        <div class="form-group">
                           <label>Status</label>
                           <div class="onoffswitch">
                             <input name="status" ng-model="userForm.status" type="checkbox" name="status" class="onoffswitch-checkbox" id="myonoffswitch">
                             <label class="onoffswitch-label" for="myonoffswitch">
                               <span class="onoffswitch-inner"></span>
                               <span class="onoffswitch-switch"></span>
                             </label>
                           </div>
                        </div>
                        <!-- <div class="form-group">
                           <label for="">Date</label>
                           <p class="input-group">
                              <input name="date" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="userForm.modificationTime" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(modificationTime, mode)"
                              ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                              <span class="input-group-btn calender-btn">
                                 <button type="button" class="btn btn-default" ng-click="open1()"><i class="ln-calendar3"></i></button>
                                 <div class="error-msg" ng-show="user.modificationTime.$error.required && user.modificationTime.$touched">Please Enter Date.
                                 </div>
                              </span>
                           </p>
                        </div> -->
                        <div class="form-group">
                           <label for="exampleInputFile">Image Upload</label>
                           <div class="noti-image">
                              <div class="img-box">
                                 <img ng-src="{{userForm.image | uploadpath}}" ng-if="userForm.image">
                              </div>
                           </div>
                           <upload-image ng-model="userForm.image" no-view></upload-image>
                        </div>
                        <div class="multiple-img mt25 form-group">
                           <label for="">Upload Video</label>
                           <div class="create-event pull-right">
                              <button class="btn btn-primary btn-outline btn-small create-btn" ng-click="VideoEdit()">Upload Video</button>
                           </div>
                           <div class="image-picker mt15">
                              <div dnd-list="lists" class="pt15">
                                 <div class="image-set">
                                    <div class="row" ui-sortable ng-model="userForm.videos">
                                       <div class="drop-image col-xs-3" ng-repeat="item in userForm.videos track by $index">
                                          <div ng-click="open(item);" class="image-holder">
                                             <img ng-src="{{item.thumbnail}}">
                                          </div>
                                          <div class="caption">
                                             <p ng-if="item.name">{{item.name}}</p>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="upload-img text-right">
                           <button class="btn btn-primary btn-outline btn-small" ng-click="videoGallerySubmitForm(user)">Save</button>
                           <a ui-sref="video-galleries">
                              <button class="btn btn-primary btn-outline btn-small">Cancel</button>
                           </a>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
