<div class="icon">
   <div class="form-group">
      <label for="sel1">List Type:{{userForm.type}}</label>
      <select name="type" ng-model="userForm.type" class="form-control">
         <optgroup label="Main Menu">
            <option value="volvo">Home</option>
            <option value="saab">Notifications</option>
         </optgroup>
         <optgroup label="Main Menu with Sub Menu">
            <option value="mercedes">Gallery</option>
            <option value="audi">Events</option>
         </optgroup>
      </select>
   </div>
</div>
<div class="icon">
   <div class="form-group">
      <label for="sel1">Select Inside:</label>
      <select ng-model="userForm.order" class="form-control" id="sel1">
         <option>Gallery Inside1</option>
         <option>Gallery Inside2</option>
         <option>Gallery Inside3</option>
         <option>Event Inside1</option>
      </select>
   </div>
</div>
<div class="form-group">
   <label for="">External Link</label>
   <input name="link" ng-model="userForm.link" type="text" class="form-control" id="" placeholder="External Link">
</div>
