<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="navbar-header">
            <div class="logo display-inline pt10 pb15">
              <i class="icon icon-blazen"></i>
              Blazen
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="user-setting text-right custom-li pt15">
            <div class="search-head display-inline" ng-hide="">
              <form ng-submit="">
                <input type="search" class="form-control" placeholder="Search your app...">
              </form>
            </div>
            <ul class="padding0">
            <li>
              <button class="btn btn-clear" ng-><i class="fa fa-search"></i></button>
            </li>
              <li>
                <a href="">
                  <span class="head-font">Docs</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="head-font">Forum</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="head-font">Settings</span>
                </a>
              </li>
              <li>
                <a href="">
                  <span class="head-font">Tushar Sachde
                    <i class="ln-chevron-down icon-pad"></i>
                  </span>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>

    </div>
  </nav>
</header>
