<header>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button> -->
            <div class="logo display-inline pt10 pb15">
              <a class="" href="#/home"><img src="img/logo.png" alt="logo" class="img-responsive"> </a>
            </div>

            <div class="logo-name display-inline">
              <span>Blazen</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search-head display-inline">
            <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Your App...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div>
          </div>
        </div>
        <div class="col-md-5">
          <!-- <div ng-include="template.menu" class="template menu"></div> -->

          <div class="user-setting float-right custom-li pt15">
            <ul class="padding0">
              <!-- <li>
                <div class="search">
                  <div class="input-search">
                    <input type="search" class="" placeholder="Search Your App...">
                    <span class="">
                             <button class="" type="button">
                               <i class="ln-magnifier icon"></i>
                             </button>
                           </span>
                  </div>
                </div>
              </li> -->
              <li>
                <a href=""><span class="head-font">Docs</span></a>
              </li>
              <li class="pr30 pl30">
                <a href=""><span class="head-font">Forum</span></a>
              </li>
              <li class="pr30">
                <a href=""><span class="head-font">Settings</span></a>
              </li>
              <li>
                <a href=""><span class="head-font">Tushar Sachde <i class="ln-chevron-down icon-pad"></i></span></a>
              </li>
              
            </ul>
            <!-- <div class="docs display-inline">
                     <a href=""><span class="head-font">Docs</span></a>
                   </div>
                   <div class="docs display-inline pr pl">
                       <a href=""><span class="head-font">Support</span></a>
                   </div>
                   <div class="user_profile display-inline">
                    <a href=""><span class="head-font">Tushar Sachde <i class="ln-chevron-down icon-pad"></i></span></a>
       </div>
                   <div class="pt10 display-inline">
                     <div class="profile-pic ">
                       <img src="img/user.png">
                     </div>
                   </div> -->
          </div>
        </div>
      </div>



    </div>
  </nav>
</header>
