<section>

   <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title text-center" id="myModalLabel">Edit Image</h4>
      </div>
      <div class="modal-body">
         <div class="row">
            <div class="col-md-12">
               <form name="user">
                  <div class="uploaded-img">
                     <!-- <div class="form-group">
                <label for="exampleInputFile">Image Upload</label>
                <div class="noti-image">
                  <div class="img-box">
                    <img src="img/slider/s1.jpg">
                  </div>
                </div>
                <div class="btn-upload">
                  <input type="file" id="exampleInputFile">
                  <button class="btn btn-primary btn-outline btn-small">Upload Image</button>
                </div>
              </div> -->
                     <div class="form-group">
                        <label for="exampleInputFile">Image Icon</label>
                        <div class="noti-image">
                           <div class="img-box">
                              <h4 ng-if="isloading">Loading...</h4>
                              <img ng-src="{{home.image|uploadpath}}" ng-if="home.image" style="height:200px;">
                           </div>
                        </div>
                        <div ng-if="home.image">
                           <div ng-init="httpMethod = 'POST';howToSend = 1;"></div>
                        </div>

                        <input type="file" name="image" ng-file-select="onFileSelect($files,1)" onclick="this.value=null" ng-model="home.image" accept=".jpg,.png" class="form-control ab" ui-file-upload>

                     </div>
                     <div class="slider-title mt25">
                        <div class="form-group">
                           <label for="">Title </label>
                           <input type="text" class="form-control" ng-model="home.title">
                        </div>
                     </div>
                     <div class="slider-link">
                        <div class="form-group">
                           <label for="">Link</label>
                           <select class="form-control">
                              <optgroup label="Swedish Cars">
                                 <option value="volvo">Volvo</option>
                                 <option value="saab">Saab</option>
                              </optgroup>
                              <optgroup label="German Cars">
                                 <option value="mercedes">Mercedes</option>
                                 <option value="audi">Audi</option>
                              </optgroup>
                           </select>
                        </div>
                        <div class="form-group">
                           <label for="">External Link </label>
                           <input type="text" class="form-control" ng-model="home.externallink">
                        </div>
                     </div>
                     <!-- <div class="form-group">
                <label for="">Status</label>
                <select class="form-control">
                  <option>Enable</option>
                  <option>Disable</option>

                </select>
              </div> -->
                     <div class="label-opt">
                        <label for="">Enable</label>
                     </div>
                     <div class="onoffswitch">
                        <input name="status" ng-model="home.status" type="checkbox" name="status" class="onoffswitch-checkbox" id="myonoffswitch">
                        <label class="onoffswitch-label" for="myonoffswitch">
                           <span class="onoffswitch-inner"></span>
                           <span class="onoffswitch-switch"></span>
                        </label>
                     </div>
                  </div>
               </form>
            </div>
         </div>

      </div>
      <div class="modal-footer">

         <button type="button" class="btn btn-small btn-primary btn-outline" ng-click="homeEditSubmitForm(home)">Save</button>
         <button type="button" class="btn btn-small btn-primary btn-outline" ng-click="$dismiss()">Cancel</button>
      </div>
   </div>

</section>
