<section>
   <div class="modal-content">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title text-center" id="myModalLabel">Links</h4>
      </div>
      <div class="modal-body">
         <div class="row">
            <div class="col-md-6">
               <div class="modal-nav">
                  <div class="group">
                     <ul class="list-unstyled">
                        <li ng-click="setTypeLink(null,'Home');">
                           Home
                        </li>
                        <li class="makenav" ng-click="closeOthers(1);" ng-if="modalData.home && modalData.home.length>0">Single Article</li>
                     </ul>
                     <div class="save-link" ng-show="show1">
                        <select name="" id="" class="form-control" ng-model="model.link" ng-options="link as link.name for link in modalData.home" ng-change="setTypeLink('Home',null,model.link.name);">
                        </select>
                        <button type="button" class="btn btn-small btn-primary btn-outline" ng-click="$dismiss()">Save</button>
                     </div>
                  </div>
                  <div class="group">
                     <ul class="list-unstyled">
                        <li ng-click="setTypeLink(null,'Blog');">Blog</li>
                        <li ng-click="closeOthers(2);" ng-if="modalData.blog && modalData.blog.length>0">Single Blog</li>
                     </ul>
                     <div class="save-link" ng-show="show2">
                        <select name="" id="" class="form-control" ng-model="model.link" ng-options="link as link.blogtitle for link in modalData.blog" ng-change="setTypeLink('Blog',null,model.link.blogtitle);">
                        </select>
                        <button type="button" class="btn btn-small btn-primary btn-outline" ng-click="$dismiss()">Save</button>
                     </div>
                  </div>
                  <div class="group" ng-if="modalData.event && modalData.event.length>0">
                     <ul class="list-unstyled">
                        <li ng-click="setTypeLink(null,'Event');">Events</li>
                        <li ng-click="closeOthers(3);">Single Event</li>
                     </ul>
                     <div class="save-link" ng-show="show3">
                        <select name="" id="" class="form-control" ng-model="model.link" ng-options="link as link.name for link in modalData.event" ng-change="setTypeLink('Event',null,model.link.name);">
                        </select>
                        <button type="button" class="btn btn-small btn-primary btn-outline" ng-click="$dismiss()">Save</button>
                     </div>
                  </div>
                  <div class="group" ng-if="modalData.photo && modalData.photo.length>0">
                     <ul class="list-unstyled">
                        <li ng-click="setTypeLink(null,'Photo Gallery');">All PhotoGallery</li>
                        <li ng-click="closeOthers(4);">Single PhotoGallery</li>
                     </ul>
                     <div class="save-link" ng-show="show4">
                        <select name="" id="" class="form-control" ng-model="model.link" ng-options="link as link.title for link in modalData.photo" ng-change="setTypeLink('Photo Gallery',null,model.link.title);">
                        </select>
                        <button type="button" class="btn btn-small btn-primary btn-outline" ng-click="$dismiss()">Save</button>
                     </div>
                  </div>

                  <div class="group" ng-if="modalData.video && modalData.video.length>0">
                     <ul class="list-unstyled">
                        <li ng-click="setTypeLink(null,'Video Gallery');">All Video Gallery</li>
                        <li ng-click="closeOthers(5);">Single Video Gallery</li>
                     </ul>
                     <div class="save-link" ng-show="show5">
                        <select name="" id="" class="form-control" ng-model="model.link" ng-options="link as link.title for link in modalData.video" ng-change="setTypeLink('Video Gallery',null,model.link.title);">
                        </select>
                        <button type="button" class="btn btn-small btn-primary btn-outline" ng-click="$dismiss()">Save</button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="single-nav modal-nav">
                  <ul class="list-unstyled nav-list">
                     <li ng-click="setTypeLink(null,'Enquiry Page');">Enquiry Page</li>
                     <li ng-click="setTypeLink(null,'Seperator');">Seperator</li>
                     <li ng-click="setTypeLink(null,'Profile');">Profile</li>
                     <li ng-click="setTypeLink(null,'Audio');">Audio</li>
                     <li ng-click="setTypeLink(null,'Notification');">Notification</li>
                     <li ng-click="setTypeLink(null,'Social Feeds');">Social Feeds</li>
                     <li ng-click="closeOthers(6);">External Link</li>
                     <div class="save-link" ng-show="show6">
                        <input type="text" name="" id="" class="form-control" placeholder="Please Enter External Link here" ng-model="model.link" ng-change="setTypeLink('External Link',null);">
                        <button type="button" class="btn btn-small btn-primary btn-outline" ng-click="$dismiss()">Save</button>
                     </div>
                     <li ng-click="setTypeLink(null,'Contact');">Contact Detail</li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- <div class="modal-footer">
      <button type="button" class="btn btn-small btn-primary btn-outline">Save</button>
    </div> -->
   </div>
</section>
