<section>

  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title text-center" id="myModalLabel">Edit Notification</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="linking">
            <form name="user" action="">
              <div class="form-group">
                <label for="exampleInputName2">Title</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Title">
              </div>
              <div class="form-group">
                <label for="exampleInputName2">Status</label>
                <select ng-model="userForm.status" class="form-control">
                  <option>Enable</option>
                  <option>Disable</option>

                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputFile">Image Upload</label>
                <div class="noti-image">
                  <div class="img-box">
                    <img src="img/slider/s1.jpg">
                  </div>
                </div>
                <input type="file" id="exampleInputFile">

              </div>
              <div class="form-group mt25">
                <label for="exampleInputName2">Content</label>
                <textarea name="content" required ng-model="userForm.content" class="form-control resize" rows="3"></textarea>
                <div class="error-msg" ng-show="user.content.$error.required && user.content.$touched">Please Enter Content.</div>
              </div>
              </div>
              <div class="form-group">
                  <label for="exampleInputName2">Timestamp</label><br>
                  <p class="input-group">
                    <input  name="date" required type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="userForm.date" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                      alt-input-formats="altInputFormats" />
                    <span class="input-group-btn calender-btn">
   <button type="button" class="btn btn-default" ng-click="open1()"><i class="ln-calendar3"></i></button>
   <div class="error-msg" ng-show="user.date.$error.required && user.date.$touched">Please Enter TimeStamp.</div>
 </span>
                  </p>
              </div>
            </form>
          </div>
          <div class="text-center" ng-show="formComplete">
              <h3>Submitted Successfully, Thank You!</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-primary"  ng-click="submitForm(userForm,user)">Save</button>
      <button type="button" class="btn btn-primary" ng-click="$dismiss()">Cancel</button>
    </div>
  </div>

</section>
