<section>

  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title text-center" id="myModalLabel">Upload Video</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <form action="">
            <div class="uploaded-img">
              <div class="slider-box">
                <label for="">Video Thumbnail </label>
                <img src="img/slider/s1.jpg" class="img-responsive">
                <div class="form-group">
                  <label for="exampleInputFile">Upload Image</label>
                  <div class="btn-upload">
                    <input type="file" id="exampleInputFile">
                    <button class="btn btn-primary btn-outline btn-small">Upload Image</button>
                  </div>
                </div>
              </div>
              <div class="slider-title">
                <div class="form-group">
                  <label for="">Video Title </label>
                  <input type="text" class="form-control" id="">
                </div>
              </div>
              <div class="slider-link">
                <div class="form-group">
                  <label for="">Video Link </label>
                  <input type="text" class="form-control" id="">
                </div>
              </div>
              <div class="status-slider">
                <span>Status</span>
                <div>
                  <div class="onoffswitch">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                    <label class="onoffswitch-label" for="myonoffswitch">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-small btn-primary btn-outline">Save</button>
      <button type="button" class="btn btn-small btn-danger btn-outline">Cancel</button>
    </div>
  </div>

</section>
